/* ------------------------------------------------------ */
/*///////////// _PRIMITIVE-COLORS.scss start /////////////*/


:root {

   /* BLACK */
   --black: hsl(0, 0%, 0%);
   --black-90pct: hsla(0, 0%, 0%, 0.9);
   --black-80pct: hsla(0, 0%, 0%, 0.8);
   --black-70pct: hsla(0, 0%, 0%, 0.7);
   --black-60pct: hsla(0, 0%, 0%, 0.6);
   --black-50pct: hsla(0, 0%, 0%, 0.5);
   --black-40pct: hsla(0, 0%, 0%, 0.4);
   --black-30pct: hsla(0, 0%, 0%, 0.3);
   --black-20pct: hsla(0, 0%, 0%, 0.2);
   --black-10pct: hsla(0, 0%, 0%, 0.1);
   --faux-black: hsl(0, 0%, 11%);

   /* GRAY */
   --gray: hsl(240, 0%, 48%);
   --faux-gray: hsl(0, 0%, 30%);
   
   /* WHITE */
   --white: hsl(0, 0%, 100%);
   --white-90pct: hsla(0, 0%, 100%, 0.9);
   --white-85pct: hsla(0, 0%, 100%, 0.85);
   --white-80pct: hsla(0, 0%, 100%, 0.8);
   --white-70pct: hsla(0, 0%, 100%, 0.7);
   --white-60pct: hsla(0, 0%, 100%, 0.6);
   --white-50pct: hsla(0, 0%, 100%, 0.5);
   --white-40pct: hsla(0, 0%, 100%, 0.4);
   --white-30pct: hsla(0, 0%, 100%, 0.3);
   --white-20pct: hsla(0, 0%, 100%, 0.2);
   --white-10pct: hsla(0, 0%, 100%, 0.1);
   --faux-white: hsl(222, 38%, 95%);
   --faux-white-70pct: hsl(222, 38%, 95%, 0.7);
   --faux-white-90pct: hsl(222, 38%, 95%, 0.9);
   
   /* SLATE */
   --slate-050: hsl(231, 64%, 96%);
   --slate-100: hsl(210, 11%, 85%);
   --slate-200: hsl(218, 7%, 76%);
   --slate-300: hsl(224, 7%, 68%);
   --slate-400: hsl(233, 8%, 60%);
   --slate-500: hsl(226, 5%, 50%);
   --slate-600: hsl(233, 8%, 42%);
   --slate-700: hsl(228, 9%, 32%);
   --slate-800: hsl(233, 14%, 24%);
   --slate-900: hsl(235, 50%, 14%);
   --slate-950: hsl(235, 100%, 8%);
   --slate-050-90pct: hsla(231, 64%, 96%, 0.9);
   --slate-050-80pct: hsla(231, 64%, 96%, 0.8);
   --slate-050-70pct: hsla(231, 64%, 96%, 0.7);
   --slate-050-60pct: hsla(231, 64%, 96%, 0.6);
   --slate-050-50pct: hsla(231, 64%, 96%, 0.5);
   --slate-050-40pct: hsla(231, 64%, 96%, 0.4);
   --slate-050-30pct: hsla(231, 64%, 96%, 0.3);
   --slate-050-20pct: hsla(231, 64%, 96%, 0.2);
   --slate-050-10pct: hsla(231, 64%, 96%, 0.1);
   --slate-950-90pct: hsla(234, 61%, 6%, 0.9);
   --slate-950-80pct: hsla(234, 61%, 6%, 0.8);
   --slate-950-70pct: hsla(234, 61%, 6%, 0.7);
   --slate-950-60pct: hsla(234, 61%, 6%, 0.6);
   --slate-950-50pct: hsla(234, 61%, 6%, 0.5);
   --slate-950-40pct: hsla(234, 61%, 6%, 0.4);
   --slate-950-30pct: hsla(234, 61%, 6%, 0.3);
   --slate-950-20pct: hsla(234, 61%, 6%, 0.2);
   --slate-950-10pct: hsla(234, 61%, 6%, 0.1);
   
   /* INDIGO */
   --indigo-500: hsl(259, 100%, 59%);
   --indigo-600: hsl(259, 71%, 49%);
   --indigo-700: hsl(259, 76%, 39%);
   --indigo-800: hsl(259, 84%, 29%);
   --indigo-900: hsl(259, 100%, 19%);
   --indigo-950: hsl(240, 53%, 10%);
}

    
/*///////////// _PRIMITIVE-COLORS.scss end /////////////*/
/* ------------------------------------------------------ */