/* ------------------------------------------------------ */
/*///////////// _ROWS.scss start /////////////*/

.row {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.mobile-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.row .col {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.use-cases-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

@media (min-width: 900px) {
    .row {
        flex-direction: row;
    }

    .use-cases-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/*///////////// _ROWS.scss end /////////////*/
/* -------------------------------------------------*/