/* ------------------------------------------------------ */
/*///////////// _SPACING.scss start /////////////*/

.margin-top-05 {
    margin-top: 0.5rem !important;
}

.margin-top-1 {
    margin-top: 1rem !important;
}

.margin-top-2 {
    margin-top: 2rem !important;
}

.margin-top-3 {
    margin-top: 3rem !important;
}

.margin-top-4 {
    margin-top: 4rem !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-05 {
    margin-bottom: 0.5rem !important;
}

.margin-bottom-1 {
    margin-bottom: 1rem !important;
}

.margin-bottom-2 {
    margin-bottom: 2rem !important;
}

.margin-bottom-3 {
    margin-bottom: 3rem !important;
}

.margin-bottom-4 {
    margin-bottom: 4rem !important;
}

.margin-bottom-5 {
    margin-bottom: 5rem !important;
}

.margin-bottom-6 {
    margin-bottom: 6rem !important;
}

.margin-bottom-7 {
    margin-bottom: 7rem !important;
}

.margin-bottom-8 {
    margin-bottom: 8rem !important;
}

.padding-top-05 {
    padding-top: 0.5rem !important;
}

.padding-top-1 {
    padding-top: 1rem !important;
}

.padding-top-2 {
    padding-top: 2rem !important;
}

.padding-top-3 {
    padding-top: 3rem !important;
}

.padding-top-4 {
    padding-top: 4rem !important;
}

.padding-bottom-05 {
    padding-bottom: 0.5rem !important;
}

.padding-bottom-1 {
    padding-bottom: 1rem !important;
}

.padding-bottom-2 {
    padding-bottom: 2rem !important;
}

.padding-bottom-3 {
    padding-bottom: 3rem !important;
}

.padding-bottom-4 {
    padding-bottom: 4rem !important;
}

.gap-0 {
    gap: 0 !important
}

.gap-025 {
    gap: 4px !important
}

.gap-05 {
    gap: 8px !important
}

.gap-1 {
    gap: 16px !important
}

.gap-2 {
    gap: 32px !important
}

.gap-3 {
    gap: 48px !important
}

.gap-4 {
    gap: 64px !important
}

/*///////////// _SPACING.scss end /////////////*/
/* -------------------------------------------------*/