/* ------------------------------------------------------ */
/*///////////// _TYPOGRAPHY.scss start /////////////*/

$grid-unit-size: 8px;
$font-size: $grid-unit-size * 2;

html {
    font-size: $font-size; /* 1rem = 16px */
}

* {
    font-kerning: normal;
    font-size: inherit;
}

/* FONT FAMILIES */

:root {

    --sans-serif-font-family: 'Figtree';
    --serif-font-family: 'Lora';
    --mono-font-family: 'Anonymous Pro';
  
    --display-font-family: var(--sans-serif-font-family);
    --body-text-font-family: var(--serif-font-family);
    --captions-font-family: var(--sans-serif-font-family);
  
    --sans-fallback-fonts: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --serif-fallback-fonts: serif;
}

* {
    font-family: var(--captions-font-family), var(--sans-fallback-fonts);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--display-font-family), var(--sans-fallback-fonts);
}

main {
    p, li, p strong, p span, li strong, th, td, li a, p a {
        font-family: var(--body-text-font-family), var(--serif-fallback-fonts);
    }
}

button, a.button, small, .mini {
    font-family: var(--captions-font-family), var(--sans-fallback-fonts);
}

pre, code, pre code, pre code span {
    font-family: var(--mono-font-family), monospace;
}

/* TEXT WRAP */

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

/* LIGATURES */

* {
    -moz-font-feature-settings: "kern";
    -ms-font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern";
}

h1, h2, h3, h4, h5, button, a.button, a small, small {
    font-variant-ligatures: discretionary-ligatures;
    -moz-font-feature-settings: "kern","liga","calt";
    -ms-font-feature-settings: "kern","liga","calt";
    -webkit-font-feature-settings: "kern","liga","calt";
    font-feature-settings: "kern","liga","calt";
}

p, p a, li, p strong, p span, li strong, li a, p a {
    -moz-font-feature-settings: "kern","liga","clig","calt";
    -ms-font-feature-settings: "kern","liga","clig","calt";
    -webkit-font-feature-settings: "kern","liga","clig","calt";
    font-feature-settings: "kern","liga","clig","calt";
}


/* FONT-SIZES, LINE-HEIGHT, LETTER-SPACING */

.title-1, h1.title-1, h2.title-1, h3.title-1, h4.title-1, h5.title-1, h6.title-1 {
    font-size: 3rem;
    line-height: 110%;
    letter-spacing: -0.4px;
}

.title-2, h1.title-2, h2.title-2, h3.title-2, h4.title-2, h5.title-2, h6.title-2 {
    font-size: 2.75rem;
    line-height: 110%;
    letter-spacing: -0.4px;
}

h1, .heading-1, h1.heading-1, h2.heading-1, h3.heading-1, h4.heading-1, h5.heading-1, h6.heading-1 {
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: -0.25px;
}

h2, .heading-2, h1.heading-2, h2.heading-2, h3.heading-2, h4.heading-2, h5.heading-2, h6.heading-2 {
    font-size: 1.75rem;
    line-height: 110%;
    letter-spacing: -0.25px;
}

h3, .heading-3, h1.heading-3, h2.heading-3, h3.heading-3, h4.heading-3, h5.heading-3, h6.heading-3 {
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: -0.25px;
}

h4, .heading-4, h1.heading-4, h2.heading-4, h3.heading-4, h4.heading-4, h5.heading-4, h6.heading-4 {
    font-size: 1.375rem;
    line-height: 110%;
}

h5, .heading-5, h1.heading-5, h2.heading-5, h3.heading-5, h4.heading-5, h5.heading-5, h6.heading-5 {
    font-size: 1.25rem;
    line-height: 110%;
}

p, p a, li, p strong, p span, li strong, th, td, li a {
    font-size: 1.2rem;
    line-height: 150%;
}

pre, code, pre code {
    font-size: 1.2rem;
    line-height: 133%;
}

small, h1.caption, h2.caption, h3.caption, h4.caption, h5.caption, h6.caption, .caption {
    font-size: 1rem;
    line-height: 133%;
}

button, a.button, input.button {
    font-size: 1rem;
}

button.small-button, a.small-button, input.small-button {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

small.mini, a.mini, .mini {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (min-width:720px) {
    .title-1, h1.title-1, h2.title-1, h3.title-1, h4.title-1, h5.title-1, h6.title-1 {
        font-size: 3.75rem;
    }
    .title-2, h1.title-2, h2.title-2, h3.title-2, h4.title-2, h5.title-2, h6.title-2 {
        font-size: 3rem;
    }
    h1, .heading-1, h1.heading-1, h2.heading-1, h3.heading-1, h4.heading-1, h5.heading-1, h6.heading-1 {
        font-size: 2.75rem;
    }
    h2, .heading-2, h1.heading-2, h2.heading-2, h3.heading-2, h4.heading-2, h5.heading-2, h6.heading-2 {
        font-size: 2.5rem;
    }
    h3, .heading-3, h1.heading-3, h2.heading-3, h3.heading-3, h4.heading-3, h5.heading-3, h6.heading-3 {
        font-size: 2.2rem;
    }
    h4, .heading-4, h1.heading-4, h2.heading-4, h3.heading-4, h4.heading-4, h5.heading-4, h6.heading-4 {
        font-size: 1.75rem;
    }

    h5, .heading-5, h1.heading-5, h2.heading-5, h3.heading-5, h4.heading-5, h5.heading-5, h6.heading-5 {
        font-size: 1.6rem;
    }
}

@media (min-width:1200px) {
    .title-1, h1.title-1, h2.title-1, h3.title-1, h4.title-1, h5.title-1, h6.title-1 {
        font-size: 5.25rem;
        letter-spacing: -0.8px;
    }
    .title-2, h1.title-2, h2.title-2, h3.title-2, h4.title-2, h5.title-2, h6.title-2 {
        font-size: 4.25rem;
    }
    h1, .heading-1, h1.heading-1, h2.heading-1, h3.heading-1, h4.heading-1, h5.heading-1, h6.heading-1 {
        font-size: 3.25rem;   
        letter-spacing: -0.4px;
    }
    p, p a, li, p strong, p span, li strong, th, td, li a {
        font-size: 1.25rem;
    }
}

@media (min-width: 1380px) {
    .title-1, h1.title-1, h2.title-1, h3.title-1, h4.title-1, h5.title-1, h6.title-1 {
        font-size: 7.75rem;
    }
    .title-2, h1.title-2, h2.title-2, h3.title-2, h4.title-2, h5.title-2, h6.title-2 {
        font-size: 5rem;
    }
}

/* FONT-WEIGHTS */

.title-1, h1.title-1, h2.title-1, h3.title-1, h4.title-1, h5.title-1, h6.title-1 {
    font-weight: 800;
    font-variation-settings: "wght" 800;
}


.title-2, h1.title-2, h2.title-2, h3.title-2, h4.title-2, h5.title-2, h6.title-2 {
    font-weight: 800;
    font-variation-settings: "wght" 800;
}

h1, .heading-1, h1.heading-1, h2.heading-1, h3.heading-1, h4.heading-1, h5.heading-1, h6.heading-1 {
    font-weight: 800;
    font-variation-settings: "wght" 800;
}

h2, .heading-2, h1.heading-2, h2.heading-2, h3.heading-2, h4.heading-2, h5.heading-2, h6.heading-2 {
    font-weight: 700;
    font-variation-settings: "wght" 700;
}

h3, .heading-3, h1.heading-3, h2.heading-3, h3.heading-3, h4.heading-3, h5.heading-3, h6.heading-3 {
    font-weight: 600;
    font-variation-settings: "wght" 600;
}

h4, .heading-4, h1.heading-4, h2.heading-4, h3.heading-4, h4.heading-4, h5.heading-4, h6.heading-4 {
    font-weight: 600;
    font-variation-settings: "wght" 600;
}

h5, .heading-5, h1.heading-5, h2.heading-5, h3.heading-5, h4.heading-5, h5.heading-5, h6.heading-5 {
    font-weight: 600;
    font-variation-settings: "wght" 600;
}


p, p a, li, p span, th, td, li a {
    font-weight: 400;
    font-variation-settings: "wght" 400;
}

strong, b {
    font: 600;
    font-variation-settings: "wght" 600;
}

pre, code, pre code {
    font-weight: 400;
    font-variation-settings: "wght" 400;
}

small, h1.caption, h2.caption, h3.caption, h4.caption, h5.caption, h6.caption {
    font-weight: 600;
    font-variation-settings: "wght" 600;
}

button, a.button, input.button {
    font-weight: 800;
    font-variation-settings: "wght" 800;
}

button.secondary-button, a.secondary-button, input.secondary-button {
    font-weight: 500;
    font-variation-settings: "wght" 500;
}

blockquote p {
    font-style: italic;
    text-align: left;
    letter-spacing: -.25px;
}

/* MARGINS */

.title-1, h1.title-1, h2.title-1, h3.title-1, h4.title-1, h5.title-1, h6.title-1 {
    margin-bottom: 2.5rem;
}

h1, .heading-1, h1.heading-1, h2.heading-1, h3.heading-1, h4.heading-1, h5.heading-1, h6.heading-1 {
    margin-bottom: 2.5rem;
}

.title-2, h1.title-2, h2.title-2, h3.title-2, h4.title-2, h5.title-2, h6.title-2 {
    margin-bottom: 2.5rem;
}

h2, .heading-2, h1.heading-2, h2.heading-2, h3.heading-2, h4.heading-2, h5.heading-2, h6.heading-2 {
    margin-bottom: 2rem;
}

h3, .heading-3, h1.heading-3, h2.heading-3, h3.heading-3, h4.heading-3, h5.heading-3, h6.heading-3 {
    margin-bottom: 1.75rem;
}

h4, .heading-4, h1.heading-4, h2.heading-4, h3.heading-4, h4.heading-4, h5.heading-4, h6.heading-4 {
    margin-bottom: 1rem;
}

h5, .heading-5, h1.heading-5, h2.heading-5, h3.heading-5, h4.heading-5, h5.heading-5, h6.heading-5 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 2rem;
}

small, h1.caption, h2.caption, h3.caption, h4.caption, h5.caption, h6.caption {
    margin-bottom: 0;
}

/* LINKS */

a {
    text-decoration: none;
}

p a, li a, small a, a small, .link {
    text-decoration: underline var(--accent-color) dotted 2px;
    -webkit-text-decoration: underline var(--accent-color) dotted 2px;
    text-underline-offset: 5px;
}

p a:hover, li a:hover, small a:hover, a:hover small, .link:hover {
    text-decoration: underline var(--accent-color) solid 2px;
    -webkit-text-decoration: underline var(--accent-color) solid 2px;
    text-underline-offset: 5px;
    opacity: 1;

}

/* HIGHLIGHTED TEXT */

::-moz-selection {
    background: var(--accent-color);
    color: white;
}

::selection {
    background: var(--accent-color);
    color: white;
}


/* UTILITY CLASSES */

.align-center {
    text-align: center;
}
  
.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.italic {
    font-style: italic;
}

.font-weight-100 {
    font-weight: 100 !important;
    font-variation-settings: "wght" 100 !important;
}

.font-weight-200 {
    font-weight: 200 !important;
    font-variation-settings: "wght" 200 !important;
}

.font-weight-300 {
    font-weight: 300 !important;
    font-variation-settings: "wght" 300 !important;
}

.font-weight-400 {
    font-weight: 400 !important;
    font-variation-settings: "wght" 400 !important;
}

.font-weight-500 {
    font-weight: 500 !important;
    font-variation-settings: "wght" 500 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
    font-variation-settings: "wght" 600 !important;
}

.font-weight-700 {
    font-weight: 700 !important;
    font-variation-settings: "wght" 700 !important;
}

.font-weight-800 {
    font-weight: 800 !important;
    font-variation-settings: "wght" 800 !important;
}

.font-weight-900 {
    font-weight: 900 !important;
    font-variation-settings: "wght" 900 !important;
}

/*///////////// _TYPOGRAPHY.scss end /////////////*/
/* ------------------------------------------------------ */