/* ------------------------------------------------------ */
/*///////////// _UI-COLORS.scss start /////////////*/

:root {
    --body-background-color: var(--slate-950);
    --display-text-color: var(--white);
    --body-text-color: var(--white-90pct);
    --card-background-color: var(--slate-900);
    --card-border-color: var(--accent-color-20pct);
    --card-background-image: radial-gradient(at 75% 0%, var(--accent-color-07pct) 0%, #000000ba 100%);
}

body {
    background-color: var(--body-background-color);
}

* {
    color: var(--body-text-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--display-text-color);
}

:root {
    --cta-section-background: var(--slate-900);
}

/*///////////// _UI-COLORS.scss end /////////////*/
/* ------------------------------------------------------ */