.d-none {
    display: none !important;
  }
  
.d-block {
    display: block !important;
}

.d-inline {
    display: inline !important;
}

.margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.margin-right-auto {
  margin-left: 0 !important;
  margin-right: auto !important;
}

.margin-left-auto {
  margin-right: 0 !important;
  margin-left: auto !important;
}

.margin-bottom-auto {
    margin-bottom: auto !important;
}

.opacity-0pct {
    opacity: 0  ;
}

.opacity-40pct {
    opacity: 0.4;
}


.opacity-30pct {
    opacity: 0.3;
}


.opacity-50pct {
    opacity: 0.5;
}

.opacity-75pct {
    opacity: 0.75;
}

.color-accent {
    color: var(--accent-color) !important;
}

.color-gradient {
    position: relative;
    background: var(--accent-gradient, linear-gradient(225deg, #D837F8 0%, #3747F8 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-gradient::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 8px; /* Adjust based on underline position */
    width: 100%;
    height: 6px; /* Thickness of the underline */
    background: var(--accent-gradient, linear-gradient(225deg, #d837f884 0%, #3747F884 100%));
    z-index: -1;
}

.light-mode .color-body-text {
    color: var(--light-mode-text) !important;
}

.dark-mode .color-body-text {
    color: var(--dark-mode-text) !important;
}

.light-mode .color-display-text {
    color: black !important;
}

.dark-mode .color-display-text {
    color: white !important;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}