.about-cover img {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}


@media (min-width: 768px) {
    .about-cover .row {
        flex-direction: row-reverse;
    }

    .about-cover .row .col:first-child {
        display: flex;
        align-content: center;
        align-items: center;
    }

    .about-cover img {
        max-width: 380px;
        margin-bottom: 0;
        margin-top: -40px;
    }
}

.board-members .row .col .row div {
    text-align: center;
}

img.partner-portrait {
    max-width: 200px;
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 900px) {
    img.partner-portrait {
        margin-bottom: 2rem;
        margin-left: unset;
        margin-right: unset;
    }
    .board-members .row .col .row div {
        text-align: unset;
    }
    .board-members h3 {
        max-width: 140px;
    }
}



.board-members-social {
    display: block;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.plat-section h2 {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 900px) {
    .plat-section .button, .plck-section .button {
        margin-right: auto;
        margin-left: unset;
    }
}



img.flag {
    height: 20px;
    width: auto;
    border-radius: 2px;
    margin-right: 8px;
    vertical-align: bottom;
    display: inline;
}

.board-members ul {
    max-width: 420px;
}

/* Tech Stack */

/* Slick */
.stack-carrousel .slick-dots {
    bottom: -45px;
}

.stack-carrousel .slick-dots li::before {
    content: unset;
}

[data-acc="rocket"]::before {
    content: url('/imgs/icons/rocket-launch.svg');
}

.stack-carrousel .slick-dots li.slick-active button::before {
    color: #722FFF;
    content: url('/imgs/bullet-active.svg');
}

.stack-carrousel .slick-dots li button::before {
    color: #722FFF;
    content: url('/imgs/bullet-inactive.svg');
    opacity: 1;
}

/* End Slick */

.stack-u {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.stack-u img {
    width: 35px;
    max-height: 35px;
    user-select: none;
}

.stack-u span {
    min-width: fit-content;
    color: inherit;
}

.stack-u.pro::after {
    content: 'PRO';
    background: #7437f850;
    border-radius: 4px;
    min-width: 39px;
    height: 17px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    align-content: center;
}

/* MediaQueries Subscriptions > Tech-stack-section */
@media (max-width: 900px) {
    .stack-carrousel {
        width: 100%;
    }

    .stack-carrousel *.fade-in {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }

    .slide-inside {
        display: flex;
        margin-inline: auto;
        flex-direction: column;
        width: fit-content;
    }

    .stack-u {
        text-align: center;
    }

    .stack-u img {
        margin-inline: auto;
    }

    .carrousel-col {
        width: 100%;
        display: flex;
    }

    .carrousel-col .stack-u {
        margin-bottom: 20px;
    }
}

@media (min-width: 900px) {

    .carrousel-col,
    .slide-inside {
        display: contents;
    }

    .stack-carrousel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(9, auto);
        grid-auto-flow: column;
        gap: 18px
    }
}