.branding-cover-background {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    overflow: hidden;
    height: 800px;
}

.branding-cover-background .pearl {
    display: block;
    background-image: url(../../imgs/pearls/09.webp);
    height: 400px;
    width: 400px;
    left: -320px;
    top: 180px;
}

.branding-cover-background .pearl.pearl-right {
    left: unset;
    right: -320px;
}

@media (min-width: 900px) {
    .branding-cover-background .pearl {
        height: 600px;
        width: 600px;
        left: -300px;
    }
    .branding-cover-background .pearl.pearl-right {
        left: unset;
        right: -300px;
    }    
}

.branding-services-breakdown .card h3 {
    display: flex;
    align-items: center;
    height: 54px;
}

.branding-services-breakdown .icon-container {
    margin-bottom: 0;
    height: 54px;
    width: 54px;
    border-radius: 100%;
    padding: 8px;
}

.branding-services-breakdown .card .row {
    flex-direction: row;
    gap: 0.75rem;
}

.branding-page .col.card {
    flex: unset;
    height: fit-content;
}

.thought-leaders-section .col {
    max-width: 400px;
    margin-inline: auto;
}

@media (min-width: 900px) {
    .branding-services-breakdown .card h3 {
        height: 70px;
    }

    .branding-services-breakdown .icon-container {
        height: 70px;
        width: 70px;
    }

    .branding-services-breakdown .card .row {
        margin-bottom: 1rem;
    }
    .thought-leaders-section .col {
        max-width: unset;
        margin-inline: unset;
    }
}