/*   ____            _             _                             */
/*  / ___|___  _ __ | |_ __ _  ___| |_   _ __   __ _  __ _  ___  */
/* | |   / _ \| '_ \| __/ _` |/ __| __| | '_ \ / _` |/ _` |/ _ \ */
/* | |__| (_) | | | | || (_| | (__| |_  | |_) | (_| | (_| |  __/ */
/*  \____\___/|_| |_|\__\__,_|\___|\__| | .__/ \__,_|\__, |\___| */
/*                                      |_|          |___/       */
/* Contact page -------------------------------------------------*/

/* el width agregado en plkt para qe en mobile tenga margenes, afecta los <hr> verticales */
hr.vertical-hr {
    width: unset;
}

/* contact form styles */
form#contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    max-width: 450px;
    margin: 0 auto;
}

form#contact-form input,
form#contact-form textarea {
    margin-top: 2px;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 4px;
    font-size: 1rem;
}

div.g-recaptcha {
    margin: auto;
}

div.err-msj {
    text-align: center;
    color: red;
    margin: 10px 0;
    display: none;
}
/* end contact form styles*/

img.contact-flag {
    display: inline;
    height: 35px;
    width: auto;
    border-radius: 2px;
    margin-right: 5px;
    vertical-align: text-top;
}

.contact-vertical-line {
    display: none;
}

/* contact page mediaquery */
@media (min-width: 1000px) {
    .message-call {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .message-call section {
        width: 40%;
    }
}

.send-a-message, .schedule-a-call {
    width: 40%;
}