section.cta-section {
    background: radial-gradient(ellipse at top right, #4b00ae6e, #4b00ae61, #4b00ae78, #40247f63, #d12b9470, rgba(224, 208, 175, 0.5843137255), #4b00ae66, #40247f6e, #40247f42);
    backdrop-filter: blur(500px);
    padding: 0;
    background-attachment: fixed;
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    margin-block: 100px 0px;
}

@media (min-width: 700px) {
    div.grain-texture {
        background: url(../../imgs/grain-texture.webp);
    }
}

.cta-content {
    background: linear-gradient(42deg, rgb(75 0 174 / 0.02%), rgb(75 0 174 / 0.02%), rgba(248, 208, 134, 0.01137254902), rgba(209, 43, 148, 0.01568627451), rgba(209, 43, 148, 0.098431), rgba(171, 154, 245, 0.01882352941), rgba(16, 122, 236, 0.0282353), rgba(63, 36, 127, 0.02666666667), rgba(63, 36, 127, 0.01294117647));
    backdrop-filter: blur(40px);
    padding: 80px 0 100px;
    background-size: 200% 200%;
    animation: gradient 20s infinite;
}

.cta-section #landing-cta-button {
    display: none;
}

.cta-section .button {
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.3);
}