section.cta-section {
    background: var(--accent-color-900);
    border-top: 2px solid var(--accent-color-50pct);
    padding-block: 80px 64px;
    margin-block: 100px 0px;
    background-image: radial-gradient(at top, var(--accent-color-30pct) 0%, transparent 60%);
}

.cta-section #landing-cta-button {
    display: none;
}

.cta-section .button {
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.3);
}

body.landing-page .cta-button-view-plans {
    display: none;
}

.cta-section #branding-cta-heading {
    display: none;
}

body.branding-page .cta-section #general-cta-heading {
    display: none;
}

body.branding-page .cta-section #branding-cta-heading {
    display: block;
}