.home .start-today-button {
    display: none;
}

.subscriptions .learn-more-button {
    display: none;
}

.cards-wrapper {
    height: 500px;
    width: calc(2/3 * 100%);
}

.subscription-cards {
    gap: 32px;
}

.subscription-cards hr {
    margin-block: 2rem;
    width: 100%;
}

.subscription-cards div:nth-child(2) h4 {
    margin-bottom: 0;
}
