
/* __        __         _                              */
/* \ \      / /__  _ __| | __  _ __   __ _  __ _  ___  */
/*  \ \ /\ / / _ \| '__| |/ / | '_ \ / _` |/ _` |/ _ \ */
/*   \ V  V / (_) | |  |   <  | |_) | (_| | (_| |  __/ */
/*    \_/\_/ \___/|_|  |_|\_\ | .__/ \__,_|\__, |\___| */
/*                            |_|          |___/       */
/* work page ------------------------------------------*/

.featured-project {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 20px;
}

.project-cover {
    position: relative;
    width: 100%;
}

.project-cover figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    border-radius: 4px;
    width: 90%;
}

.project-cover figure:hover img,
.project-cover-hover figure img {
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
}

.project-preview {
    display: none;
}

.project-description {
    max-width: 460px;
    padding-top: 0;
}

.project-description .heading-2 {
    padding-top: 0;
}

.button-hover {
    background-image: none !important;
    box-shadow: 0 0 10px #712fff, inset 0 0 0 2px #070924 !important;
    background-color: #712fff !important;
}

@media (min-width: 576px) {

    .featured-project {
        flex-direction: row;
        gap: unset;
        margin-bottom: 100px;
    }

    .project-description {
        width: 50%;
        margin-left: 20px;
        padding-top: 5px;
    }

}

@media (min-width: 768px) {

    .featured-project {
        margin-bottom: 150px;
    }

    .project-description .heading-2 {
        padding-top: 0;
    }
}

@media (min-width: 992px) {

    .project-description {
        padding-top: 75px;
    }
}

@media (min-width: 1200px) {

    .project-cover {
        width: 100%;
        max-width: 600px;
    }

    .project-preview {
        display: flex;
        width: 340px;
        position: absolute;
        bottom: -8px;
        right: -20px;
        box-shadow: 0 0 15px 0px #00000033;
    }

    .project-description {
        padding-top: 35px;
        margin-left: 40px;
    }

}

/* END work-Page*/