@import "_footer";
@import "_scroller";
@import "_animations";
@import "_clients-scroller";
@import "_portfolio-scroller";
@import "_team-scroller";
@import "_services-cards";
@import "_testimonials";
@import "_cta-section";

/* Pages */
@import "_home";
@import "_about";
@import "_subscriptions";
@import "_work";
@import "_case-studies";
@import "_contact";
@import "_discovery-call";
@import "_subscription-confirmed";

iframe {
    max-width: 100%;
    border: none;
}

video {
    width: 100%;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.vertical-hr {
    width: 100% !important;
}

@media (min-width: 900px) {
    .vertical-hr {
        width: unset !important;
    }
}


main {
    padding-top: 2rem;
}

.photo-icon-button::before {
    background-image: url(../../imgs/photo-icon.png);
}


/*   ____ _           _   _           _    */
/*  / ___| |__   __ _| |_| |__   ___ | |_  */
/* | |   | '_ \ / _` | __| '_ \ / _ \| __| */
/* | |___| | | | (_| | |_| |_) | (_) | |_  */
/*  \____|_| |_|\__,_|\__|_.__/ \___/ \__| */
/* Chatbot --------------------------------*/

/* Change position of Cookies and Chat modals on scroll over the footer */
.bottom-120,
#crisp-chatbox div a.bottom-120 {
    bottom: 120px !important;
}

/*automatic message to not overlapping with chat bubble*/
a.bottom-120 span [data-id="new_messages"] {
    margin-bottom: 100px !important;
}

/*instant chat-window to not overlapping with chat bubble*/
#crisp-chatbox div a.bottom-120 > span > span[data-id="general_entice"] > span > span {
    margin-bottom: 100px !important;
}

/*chat-window to not overlapping with chat bubble*/
div[data-visible="true"]:has(+ .bottom-120) {
    margin-bottom: 100px !important;
}

/*chat-window to not overlapping with chat bubble*/
#crisp-chatbox {
    z-index: 60;
}

/* esto no estaria funcionando por los cambios de clases */
.crisp-client .cc-tlyw .cc-kxkl .cc-nsge span.cc-imbb {
    box-shadow: 0 0 0 2px #070924 !important;
}
/* END  ChatBot*/