/*

___     _       __          
| _ \___| |_  _ / _|___ _ _  
|  _/ _ \ | || |  _/ -_) ' \ 
|_| \___/_|\_, |_| \___|_||_|
           |__/              

*/


/* 01-SUBATOMICS */
@import '01-subatomics/_reset.scss';
@import '01-subatomics/_typography.scss';
@import '01-subatomics/_primitive-colors.scss';
@import '01-subatomics/_brand-colors.scss';
@import '01-subatomics/_ui-colors.scss';
@import '01-subatomics/_main.scss';
@import '01-subatomics/_spacing.scss';
@import '01-subatomics/_separators.scss';
@import '01-subatomics/_containers.scss';
@import '01-subatomics/_rows.scss';
@import '01-subatomics/_utilities.scss';
@import '01-subatomics/_animations.scss';


/* 02-ATOMS */
@import '02-atoms/_links.scss';
@import '02-atoms/_buttons.scss';
@import '02-atoms/_icons.scss';
@import '02-atoms/_lists.scss';
@import '02-atoms/_pearls.scss';
@import '02-atoms/_labels.scss';


/* 03-MOLECULES */
@import '03-molecules/_carousels.scss';
@import '03-molecules/_cards.scss';


/* 04-ORGANISMS */
@import '04-organisms/_team-scroller.scss';
@import '04-organisms/_testimonials.scss';
@import '04-organisms/_subscription-cards.scss';
@import '04-organisms/_faq.scss';
@import '04-organisms/_cookies-modal.scss';
@import '04-organisms/_chat.scss';


/* 05-GLOBAL SECTIONS */
@import '05-sections/_header.scss';
@import '05-sections/_cta-section.scss';
@import '05-sections/_footer.scss';


/* 06-PAGES */
@import '06-pages/_home.scss';
@import '06-pages/_about.scss';
@import '06-pages/_case-studies.scss';
@import '06-pages/_branding.scss';
@import '06-pages/_subscriptions.scss';


/* MISC */





/* --------------------------------------------------------- */






















/* Pages */
/*
@import "_footer";
@import "_scroller";
@import "_animations";
@import "_clients-scroller";
@import "_portfolio-scroller";
@import "_team-scroller";
@import "_services-cards";
@import "_testimonials";
@import "_cta-section";
@import "_chatbot";
*/

/* Pages */
/*
@import "_home";
@import "_about";
@import "_subscriptions";
@import "_work";
@import "_case-studies";
@import "_contact";
@import "_discovery-call";
@import "_subscription-confirmed";
@import "_branding-page";
*/

/*
iframe {
    max-width: 100%;
    border: none;
}

video {
    width: 100%;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) *//*
  }
  

  /*
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.vertical-hr {
    width: 100% !important;
}

@media (min-width: 900px) {
    .vertical-hr {
        width: unset !important;
    }
}


main {
    padding-top: 2rem;
}

.photo-icon-button::before {
    background-image: url(../../imgs/photo-icon.png);
}
*/

