@import "_footer";
@import "_scroller";
@import "_animations";
@import "_clients-scroller";
@import "_portfolio-scroller";
@import "_team-scroller";
@import "_services-cards";
@import "_testimonials";
@import "_cta-section";

/* Pages */
@import "_home";
@import "_about";
@import "_subscriptions";
@import "_work";
@import "_case-studies";
@import "_contact";
@import "_discovery-call";

main iframe {
    max-width: 100%;
}

.vertical-hr {
    width: 100% !important;
}

@media (min-width: 900px) {
    .vertical-hr {
        width: unset !important;
    }
}
