/* CTA SECTION */
section.cta-section {
    background: radial-gradient(ellipse at top right, #4B00AE, #4B00AE, #4B00AE, #40247F, #D12B94, #f2d0af95, #4B00AE, #40247F, #40247F);
    backdrop-filter: blur(500px);
    padding: 0;
    background-attachment: fixed;
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    margin-block: 100px 0px;
}

div.grain-texture {
    background: url(../../imgs/grain-texture-low-opacity.webp);
}

@media (min-width: 700px) {
    div.grain-texture {
        background: url(../../imgs/grain-texture.webp);
    }
}

.cta-content {
    background: linear-gradient(42deg, #4b00ae14, #4b00ae0e, #f8d0861d, #d12b9428, #d12b9428, #f2d0af30, #107aec48, #3f247f44, #3f247f21);
    backdrop-filter: blur(40px);
    padding: 80px 0 100px;
    background-size: 200% 200%;
    animation: gradient 20s infinite;
}

/*     HOME PAGE       */

#services {
    scroll-margin-top: 4rem;
}

.subscribe-section {
    margin-bottom: 4rem;
}

.services-card {
    padding: 24px 16px;
}

.services-card img {
    margin-bottom: 16px;
}

.services-card .caption {
    margin-bottom: 6px;
    font-weight: 400;
}

.services-card .heading-3 {
    margin-bottom: 8px;
}

/*     ABOUT PAGE       */

section.founder h2 {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

section.founder h4 {
    margin-bottom: 8px;
}

section.plat-section h2 {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

section.plck-section h2 {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.past-newsletters .column-to-row {
    align-items: flex-start;
}

.past-newsletters article {
    width: calc(33% - 10px);
    background: #120e32;
    padding: 1.5rem;
    border-radius: 4px;
}


/* */

.lightbox {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 100;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
}

.lightbox-modal {
    background: #120e32;
    padding: 1rem;
    margin: 2rem auto;
}

#newsletter-icon-1::before {
    content: "💎";
}

#newsletter-icon-2::before {
    content: "🔑";
}

#newsletter-icon-3::before {
    content: "🤝";
}

/* Chatbot */

/* Change position of Cookies and Chat modals on scroll over the footer */
.bottom-120,
#crisp-chatbox div a.bottom-120 {
    bottom: 120px !important;
}

/*automatic message to not overlapping with chat bubble*/
a.bottom-120 span .cc-1fs0[data-id="new_messages"] {
    margin-bottom: 100px !important;
}

/*instant chat-window to not overlapping with chat bubble*/
a.bottom-120 span.cc-9q9h.cc-1ev6 {
    margin-bottom: 100px !important;
}

/*chat-window to not overlapping with chat bubble*/
.cc-1hqb[data-visible="true"]:has(+ .bottom-120) {
    margin-bottom: 100px !important;
}

/*chat-window to not overlapping with chat bubble*/
.crisp-client .cc-tlyw.cc-tlyw {
    z-index: 60;
}

.crisp-client .cc-tlyw .cc-kxkl .cc-nsge span.cc-imbb {
    box-shadow: 0 0 0 2px #070924 !important;
}


/*  ____        _                   _       _   _                                           */
/* / ___| _   _| |__  ___  ___ _ __(_)_ __ | |_(_) ___  _ __  ___   _ __   __ _  __ _  ___  */
/* \___ \| | | | '_ \/ __|/ __| '__| | '_ \| __| |/ _ \| '_ \/ __| | '_ \ / _` |/ _` |/ _ \ */
/*  ___) | |_| | |_) \__ \ (__| |  | | |_) | |_| | (_) | | | \__ \ | |_) | (_| | (_| |  __/ */
/* |____/ \__,_|_.__/|___/\___|_|  |_| .__/ \__|_|\___/|_| |_|___/ | .__/ \__,_|\__, |\___| */
/*                                   |_|                           |_|          |___/       */
/* subscription - landing page -------------------------------------------------------------*/

.row {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.row .col {
    flex-grow: 1;
    width: 100%;
}

@media (min-width: 900px) {
    .row {
        flex-direction: row;
    }
}

.subscription-plans h2 {
    margin-bottom: 4rem;
}

body.home .start-today-button {
    display: none;
}

body.subscriptions .learn-more-button {
    display: none;
}

/* toggle buttons*/
.toggle-container {
    position: relative;
    width: 333px;
    height: 50px;
    margin-inline: auto;
    margin-bottom: 20px;
}

.toggle-container button {
    position: absolute;
    inset-block: 0 auto;
    margin: 0;
    z-index: 10;
    font-weight: 400;
    opacity: 1;
    background: none;
}

.toggle-container button:nth-child(2)::before {
    content: attr(data-content);
    position: absolute;
    top: -26px;
    font-weight: 400;
}

.toggle-container button:is(:active, :focus) {
    outline: none;
}

.toggle-container button:nth-child(1) {
    left: 0px;
}

.toggle-container button:nth-child(2) {
    right: 0px;
}

.active-button.active-button {
    background-color: #722FFF;
    padding-block: 10px;
    border: 6px solid #722FFF;
    z-index: 11;
    margin-top: -5px;
    cursor: default;
    font-weight: 700;
    box-shadow: 0px 0px 4px 4px #000;
    opacity: 1;
}

.toggle-container .active-button:hover {
    box-shadow: 0px 0px 4px 4px #000;
}

/* plan cards */
.subscription-plan-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #7437f850;
    background: #120e32;
    border-radius: 6px;
    margin-bottom: 16px;
    flex: 1;
    width: 300px;
    margin-inline: auto;
}

.featured-card .card-header {
    background-image: linear-gradient(45deg, #722FFF, #4b00ae, #d12b94, #722FFF, #4b00ae);
    background-size: 200% 200%;
    animation: gradient 12s infinite;
}

.card-header {
    background: #391E81;
    padding: 16px;
    border-radius: 6px 6px 0 0;
    position: relative;
}

.card-header h3 {
    margin-bottom: 0rem;
    font-weight: 700;
}

.card-header h4 {
    font-weight: 400;
    display: inline;
}

.card-header small.caption {
    opacity: 0.6;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-block: 24px 16px;
    padding-inline: 16px;
}

.card-body ul {
    margin-right: 50px;
}

.subscription-plan-card ul li {
    font-family: 'Figtree', sans-serif !important;
    text-wrap: balance;
    font-size: 1rem;
    margin-bottom: 0.35rem;
}

.subscription-third-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 16px;
    width: 300px;
    margin-inline: auto;
}

.subscription-third-col h4 {
    margin-bottom: 0;
}

.subscription-third-col hr {
    margin-block: 2rem;
    width: 100%;
}

.subscription-plan-card ul li::before {
    content: "✓";
}

.coin-illustration {
    max-width: 250px;
}

.card-label {
    position: absolute;
    inset: 12px 12px auto auto;
    padding: 6px 16px 4px;
    background: rgb(6 9 36 / 41%);
    border-radius: 4px;
}

.bold {
    font-weight: 700 !important;
    color: white !important;
}

.subscription-value-props h2 {
    margin-bottom: 1rem;
}

.value-img {
    width: 70px;
    height: 70px;
    align-content: center;
    background-color: #120E32;
    border: 1px solid #7437f850;
    border-radius: 6px;
    margin-bottom: 25px;
}
@supports not (align-content: center) {
    .value-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.value-img img {
    margin-inline: auto;
    height: 32px;
    user-select: none;
}

/* Tech Stack */

/* Slick */
.stack-carrousel .slick-dots {
    bottom: -35px;
}

.stack-carrousel .slick-dots li::before {
    content: unset;
}

[data-acc="rocket"]::before {
    content: url('/imgs/icons/rocket-launch.svg');
}

.stack-carrousel .slick-dots li.slick-active button::before {
    color: #722FFF;
    content: url('/imgs/bullet-active.svg');
}

.stack-carrousel .slick-dots li button::before {
    color: #722FFF;
    content: url(/imgs/bullet-inactive.svg);
    opacity: 1;
}

/* End Slick */

.stack-u {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.stack-u img {
    width: 35px;
    max-height: 35px;
    user-select: none;
}

.stack-u span {
    min-width: fit-content;
}

.stack-u.pro::after {
    content: 'PRO';
    background: #7437f850;
    border-radius: 4px;
    min-width: 39px;
    height: 17px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    place-content: center;
}

/* Tech stack MediaQueries  */
@media (max-width: 900px) {
    .stack-carrousel {
        width: 100%;
    }

    .stack-carrousel *.fade-in {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }

    .slide-inside {
        display: flex;
        margin-inline: auto;
        flex-direction: column;
        width: fit-content;
    }

    .stack-u {
        text-align: center;
    }

    .stack-u img {
        margin-inline: auto;
    }

    .carrousel-col {
        width: 100%;
        display: flex;
    }

    .carrousel-col .stack-u {
        margin-bottom: 20px;
    }
}

@media (min-width: 900px) {

    .carrousel-col,
    .slide-inside {
        display: contents;
    }

    .stack-carrousel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(9, auto);
        grid-auto-flow: column;
        gap: 18px
    }
}

/* faqs */

#faq {
    scroll-margin-top: 6rem;
}

.faqs .accordion h3 span {
    color: #7537F8;
}

.faqs h3.heading-4 {
    margin-bottom: 0;
    display: flex;
    gap: 5px;
}

@media (min-width: 1024px) {
    .faqs .acc-panel {
        padding-left: 30px;
    }
}

/*end subscriptions page*/

/* Subs-confirmed page */

main.subs-confirmed-main h1 {
    margin-bottom: 1.5rem;
}

video {
    border-radius: 4px;
}

body.subs-confirmed main {
    margin-bottom: 86px;
}

.account-manager.column-to-row {
    justify-content: center;
}

.account-manager-img {
    width: 179px;
    border-radius: 8px;
}

.account-manager .account-manager-col {
    width: fit-content;
}

@media (min-width: 768px) {
    section:nth-of-type(odd) .one-half:nth-of-type(odd) {
        order: unset;
        /* Esto cancela el estilo general que apunta a los odd */
    }

    section:nth-of-type(even) .one-half:nth-of-type(odd) {
        order: 1;
    }
}