/*   __                _____  _                       _                */
/*  / _|  ___   _ __  |_   _|| |__    ___  _ __ ___  (_) _ __    __ _  */
/* | |_  / _ \ | '__|   | |  | '_ \  / _ \| '_ ` _ \ | || '_ \  / _` | */
/* |  _|| (_) || |      | |  | | | ||  __/| | | | | || || | | || (_| | */
/* |_|   \___/ |_|      |_|  |_| |_| \___||_| |_| |_||_||_| |_| \__, | */
/*                                                              |___/  */
/* css going to theming from style2 -----------------------------------*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
button,
a.button,
a small,
small {
    font-variant-ligatures: no-discretionary-ligatures;
}

main:is(.about-main) {
    padding-top: 48px;
}

main:is(.thank-you-main) {
    padding-top: 60px;
}

/* esto afectaba al <ul> del footer-social, por UI traia 40px de margin-start*/
ul {
    margin: 0;
    padding: 0;
}
 

/* esto por qe en polykit no esta  definido los <a> a secas
el <body> agregado para ganarle a la especificity de plkt de los "p a" ...etc*/

body a,
a small {
    text-decoration: underline #7537f8 dotted 2px;
    text-underline-offset: 5px;
}

body a:hover,
a:hover small {
    text-decoration: underline #7537f8 solid 2px;
}

body:where(.dark-mode) * {
    /* esto esta definido nomas algunos elementos en plkt, no todos como estaba en plnc*/
    color: hsl(0, 0%, 100%);
}

.caption {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 0.5rem;
}
/* row col */
.row {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.row .col {
    flex-grow: 1;
    width: 100%;
}

@media (min-width: 900px) {
    .row {
        flex-direction: row;
    }
}

/* Start Cusom-Styles */

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* //                                                                                      // */
/* //                                                                                      // */
/* //      ____                                                              _             // */
/* //     / ___|   ___    _ __ ___    _ __     ___    _ __     ___   _ __   | |_   ___     // */
/* //    | |      / _ \  | '_ ` _ \  | '_ \   / _ \  | '_ \   / _ \ | '_ \  | __| / __|    // */
/* //    | |___  | (_) | | | | | | | | |_) | | (_) | | | | | |  __/ | | | | | |_  \__ \    // */
/* //     \____|  \___/  |_| |_| |_| | .__/   \___/  |_| |_|  \___| |_| |_|  \__| |___/    // */
/* //                                |_|                                                   // */
/* //                                                                                      // */
/* //                                                                                      // */
/* ////////////////////////////////////////////////////////////////////////////////////////// */

/*  _   _      _ _             _                 */
/* | | | | ___| | | ___       | |__   __ _ _ __  */
/* | |_| |/ _ \ | |/ _ \ _____| '_ \ / _` | '__| */
/* |  _  |  __/ | | (_) |_____| |_) | (_| | |    */
/* |_| |_|\___|_|_|\___/      |_.__/ \__,_|_|    */
/* hello-bar ------------------------------------*/

.hello-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    gap: 10px;
    background: #000000;
    z-index: 40;
}

.hello-bar a.button {
    margin: unset;
}

@media (min-width: 750px) {
    div.hello-bar {
        height: 50px;
        flex-direction: row;
        gap: 20px;
    }
}
/* END Hello-Bar */

/*  _   _    ___     _____ ____    _  _____ ___ ___  _   _  */
/* | \ | |  / \ \   / /_ _/ ___|  / \|_   _|_ _/ _ \| \ | | */
/* |  \| | / _ \ \ / / | | |  _  / _ \ | |  | | | | |  \| | */
/* | |\  |/ ___ \ V /  | | |_| |/ ___ \| |  | | |_| | |\  | */
/* |_| \_/_/   \_\_/  |___\____/_/   \_\_| |___\___/|_| \_| */
/* The navigation bar ------------------------------------- */

nav {
    gap: unset;
}

/* esto es para nav-buttons no traigan los estilos de botones de plkt*/
nav button {
    all: unset;
}

.nav-links.position-fixed,
.nav-buttons {
    position: fixed;
    background: #070924a8;
    backdrop-filter: blur(10px);
    z-index: 50;
    border: 1px solid #7437f850;
}

.nav-links a,
.nav-links a:hover {
    text-decoration: none;
}


a.current-page {
    opacity: .4;
}

.current-page:hover {
    color: hsl(206, 23%, 94%) !important;

}

.nav-links a:not(.current-page) {
    opacity: .8;
}

.nav-links a:not(.current-page):hover {
    opacity: 1;
}

/* hello-nav mediaqueries */
/* mobile */
@media (max-width: 768px) {

    .nav-links {
        display: none;
        position: fixed;
        backdrop-filter: blur(10px);
        top: 0;
        right: 0px;
        padding-top: 100px;
        padding-bottom: 100vh;
        width: 100%;
        z-index: 50;
        display: none;
        text-align: left;
        font-family: 'BiotifBold', helvetica, arial, sans-serif;
        font-weight: 700;
        background-color: #000000b8;
    }

    .nav-buttons {
        padding: 7px 8px;
        border-radius: 12px;
        right: 15px;
        top: 125px;
    }

    body.landing-page .nav-buttons {
        top: 18px;
    }

    .nav-links.open-nav+.nav-buttons {
        top: 18px !important;
    }

    .hamburger svg {
        fill: #1d272c;
    }

    .nav-hamburger {
        display: flex;
    }

    .nav-links a {
        padding-left: 20px;
        font-size: 8vw;
        padding: 14px 16px;
        color: #12123a;
    }

    .nav-links a:not(.current-page) {
        opacity: 1;
    }


    .nav-close {
        display: none;
    }

    .nav-links.open-nav {
        display: grid !important;
        z-index: 61;
    }

    body:has(.nav-links.open-nav) {
        overflow: hidden;
    }

    .nav-links.open-nav+.nav-buttons :is(.nav-hamburger) {
        display: none;
    }

    .nav-links.open-nav+.nav-buttons :is(.nav-close) {
        display: block;
    }

    .nav-links.open-nav+.nav-buttons {
        background: none;
        backdrop-filter: unset;
        border: none;
        z-index: 62;
    }
}

/* hello-nav desktop */
@media (min-width: 769px) {
    .nav-buttons {
        display: none;
    }

    .nav-links {
        position: relative;
        display: flex;
        gap: 15px;
        border-radius: 200px;
        z-index: 50;
    }

    .nav-links.position-fixed {
        top: 20px;
        right: 15px;
        padding: 15px 28px;
    }
}
/* END of NAVigation bar ----------------- */

/*  _   _                   _              */
/* | | | |  ___   __ _   __| |  ___  _ __  */
/* | |_| | / _ \ / _` | / _` | / _ \| '__| */
/* |  _  ||  __/| (_| || (_| ||  __/| |    */
/* |_| |_| \___| \__,_| \__,_| \___||_|    */
/* Header ---------------------------------*/

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border-top: 12px solid #7537f8;
    padding: 20px;
}

body.home header {
    border-top: none;
}

div#home-border-top {
    border-top: 12px solid #7537f8;
    position: relative;
    z-index: 10;
}

a.logo {
    z-index: 50;
}

img#logo {
    height: 50px;
}

/*  _____  ___    ___  _____  _____  ____   */
/* |  ___|/ _ \  / _ \|_   _|| ____||  _ \  */
/* | |_  | | | || | | | | |  |  _|  | |_) | */
/* |  _| | |_| || |_| | | |  | |___ |  _ <  */
/* |_|    \___/  \___/  |_|  |_____||_| \_\ */
/* Footer ----------------------------------*/

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    padding: 20px 0 0 0;
    gap: 30px;
}

.social {
    display: flex;
    gap: 25px;
    justify-content: center;
}

footer .social_icon {
    height: 25px;
    width: 25px;
    object-fit: cover;
}

/* watches */
.times {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.times section img.country-flag {
    height: 20px;
    width: auto;
    border-radius: 2px;
    margin-left: 1px;
    margin-right: 7px;
    float: left;
}

output.mini {
    margin-inline: 5px 10px;
}

/* menu of sub-brands */
.sub-brands-footer {
    width: 100%;
    text-align: center;
    padding: 0px 0 25px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 220px;
}

.sub-brands-footer span {
    opacity: 0.2;
    margin: 0 5px;
    color: #F9F9F9;
}

footer .sub-brands-footer a+span:nth-of-type(2) {
    display: none;
}

footer .sub-brands-footer a:first-child {
    margin-bottom: 10px;
}

/* logo TPG */
footer .tpg-logo-container {
    width: 80px;
}

.tpg-logo-container a {
    display: flex;
}

.tpg-logo-container figure {
    display: contents;
}

.footer-navbar-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

/*footer mediaqueries*/

@media (min-width: 675px) {

    .sub-brands-footer {
        display: block;
        padding: 15px 0 25px 0;
        max-width: unset;
    }

    footer .sub-brands-footer a:nth-of-type(1),
    footer .sub-brands-footer a:nth-of-type(3) {
        text-align: unset;
        margin-right: unset;
    }

    footer .sub-brands-footer a:nth-of-type(2) {
        text-align: unset;
        margin-right: unset;
        margin-left: unset;
    }

    footer .sub-brands-footer a+span:nth-of-type(2) {
        display: inline;
    }

    .times {
        flex-direction: row;
        gap: 10px;
    }
}

@media (min-width: 768px) {
    .footer-navbar-mobile {
        display: none;
    }
}

@media (min-width: 1100px) {
    footer {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: auto;
        align-items: center;
        gap: 10px;
    }

    .social {
        justify-self: start;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        gap: 15px;
        margin-left: 15px;
    }

    .sub-brands-footer {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: block;
    }

    footer .tpg-logo-container {
        justify-self: end;
        margin-right: 15px;
        margin-top: unset;
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        align-self: normal;
    }
}

/* END FOOTER */

/*   ____ _____  _                    _   _              */
/*  / ___|_   _|/ \     ___  ___  ___| |_(_) ___  _ __   */
/* | |     | | / _ \   / __|/ _ \/ __| __| |/ _ \| '_ \  */
/* | |___  | |/ ___ \  \__ \  __/ (__| |_| | (_) | | | | */
/*  \____| |_/_/   \_\ |___/\___|\___|\__|_|\___/|_| |_| */
/* cta-section Component-------------------------------- */

section.cta-section {
    background: radial-gradient(ellipse at top right, #4B00AE, #4B00AE, #4B00AE, #40247F, #D12B94, #f2d0af95, #4B00AE, #40247F, #40247F);
    backdrop-filter: blur(500px);
    padding: 0;
    background-attachment: fixed;
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    margin-block: 100px 0px;
}

.cta-section #landing-cta-button {
    display: none;
    visibility: hidden;
}

div.grain-texture {
    background: url(../../imgs/grain-texture-low-opacity.webp);
}

@media (min-width: 700px) {
    div.grain-texture {
        background: url(../../imgs/grain-texture.webp);
    }
}

.cta-content {
    background: linear-gradient(42deg, #4b00ae14, #4b00ae0e, #f8d0861d, #d12b9428, #d12b9428, #f2d0af30, #107aec48, #3f247f44, #3f247f21);
    backdrop-filter: blur(40px);
    padding: 80px 0 100px;
    background-size: 200% 200%;
    animation: gradient 20s infinite;
}
/* END CTA-Section*/

/*   ____            _    _                                 _       _  */
/*  / ___|___   ___ | | _(_) ___  ___   _ __ ___   ___   __| | __ _| | */
/* | |   / _ \ / _ \| |/ / |/ _ \/ __| | '_ ` _ \ / _ \ / _` |/ _` | | */
/* | |__| (_) | (_) |   <| |  __/\__ \ | | | | | | (_) | (_| | (_| | | */
/*  \____\___/ \___/|_|\_\_|\___||___/ |_| |_| |_|\___/ \__,_|\__,_|_| */
/*COOKIES MODAL -------------------------------------------------------*/

#cookies-modal {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: fixed;
    bottom: 16px;
    left: 16px;
    background: rgba(0, 0, 0, 0.85);
    z-index: 40;
    padding: 14px 16px 12px;
    border-radius: 3px;
    backdrop-filter: blur(6px);
    width: 270px;
    transition: bottom 0.5s ease;
    border: 1px solid #7437f850;
}

#cookies-modal-buttons {
    display: flex;
    flex-direction: row;
    gap: 2px;
    text-align: center;
    margin-left: -4px;
    margin-right: -4px;
}

#cookies-modal-buttons button {
    all: unset;
}

div#cookies-modal.cookies-d-none {
    display: none !important;
}

div#cookies-modal button {
    display: flex;
    align-items: center;
    padding: 3px 24px;
    border: 2px solid #7437f850;
    border-radius: 4px;
    letter-spacing: 0;
    color: #ffffff59;
    border-width: 2px;
    height: 28px;
    text-transform: uppercase;
    cursor: pointer;
    flex-grow: 1;
    justify-content: center;
}

div#cookies-modal button:first-child {
    background: #7537f8;
    color: white !important;
    border-color: #5f27d3;
    font-weight: 700;
    opacity: .9;
}

div#cookies-modal button:hover {
    opacity: 1;
    color: #FFFFFF;
    box-shadow: none;
    background-image: none !important;
}

div#cookies-modal button:not(#accept-cookies-button) {
    text-decoration: underline;
    border: none;
    text-transform: none;
    background: #321a5f;
    padding: 5px 0;
}

div#cookies-modal button#accept-cookies-button:hover {
    box-shadow: 0 0 8px #7537f8;
}

button#accept-cookies-button:before {
    content: "";
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    top: 0px;
    margin-left: -10px;
    margin-right: 7px;
    background-image: url('../../imgs/thumbs-up-regular-white.svg');
    background-size: 20px auto;
    background-repeat: no-repeat;
}

button#accept-cookies-button:hover:before {
    background-image: url('../../imgs/thumbs-up-solid-white.svg');
}

div#cookies-title small {
    color: #ffffff82;
    font-weight: 500;
}

@media (min-width: 768px) {

    div#cookies-modal {
        justify-content: space-between;
        bottom: 20px;
        width: 300px;
    }

}
/* END Cookies-modal */

/*  ____                 _      */
/* |  _ \ ___  __ _ _ __| |___  */
/* | |_) / _ \/ _` | '__| / __| */
/* |  __/  __/ (_| | |  | \__ \ */
/* |_|   \___|\__,_|_|  |_|___/ */
/* pearls ----------------------*/

div.background {
    position: relative;
    width: 100%;
    height: 100%;
    top: -900px;
    left: 0;
    z-index: 1;
    overflow-x: clip;
}

#pearl-11 {
    display: block;
    background-image: url('../../imgs/pearls/09.webp');
    width: 400px;
    height: 400px;
    top: 180px;
    right: -110px;
}

#pearl-12 {
    display: block;
    background-image: url('../../imgs/pearls/01.webp');
    width: 300px;
    height: 300px;
    top: 360px;
    left: -120px;
}

div.pearl {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    -webkit-transition: all 1s;
    transition: all 1s;
}

/* pearls & subtle animation */
#pearl-11 {
    transition-property: opacity;
    transition-duration: 1500ms;
    transition-delay: 400ms;
}

#pearl-12 {
    transition-property: opacity;
    transition-duration: 1000ms;
    transition-delay: 800ms;
}

#pearl-13 {
    transition-property: opacity;
    transition-duration: 700ms;
    transition-delay: 600ms;
}
/* END subtle animation for pearls */

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.rotate {
    -webkit-animation: rotating 90s linear infinite !important;
    -moz-animation: rotating 90s linear infinite !important;
    -ms-animation: rotating 90s linear infinite !important;
    -o-animation: rotating 90s linear infinite !important;
    animation: rotating 90s linear infinite !important
}

.rotate-slower {
    -webkit-animation: rotating 200s linear infinite !important;
    -moz-animation: rotating 200s linear infinite !important;
    -ms-animation: rotating 200s linear infinite !important;
    -o-animation: rotating 200s linear infinite !important;
    animation: rotating 200s linear infinite !important
}

@media (min-width:576px) {

    #pearl-11 {
        top: -420px;
        right: -400px;
        width: 900px;
        height: 900px;
    }

    #pearl-12 {
        width: 300px;
        height: 300px;
        top: 350px;
        left: -60px;
    }

    div#pearl-13 {
        height: 300px;
        width: 300px;
        display: block;
        position: inherit;
        margin: 0 auto;
        right: -580px;
        top: 650px;
        height: 245px;
        width: 245px;
        display: block;
        position: inherit;
        background-image: url(../../imgs/pearls/13.webp);
        margin: 0 auto;
        right: -200px;
        top: 525px;
    }
}

@media(min-width:768px) {

    #pearl-11 {
        top: -400px;
        right: -310px;
        width: 900px;
        height: 900px;
    }

    #pearl-12 {
        width: 300px;
        height: 300px;
        top: 340px;
        left: -60px;
    }

    div#pearl-13 {
        height: 300px;
        width: 300px;
        display: block;
        position: inherit;
        background-image: url(../../imgs/pearls/13.webp);
        margin: 0 auto;
        right: -580px;
        top: 650px;
        height: 280px;
        height: 250px;
        width: 250px;
        display: block;
        position: inherit;
        background-image: url(../../imgs/pearls/13.webp);
        margin: 0 auto;
        right: -320px;
        top: 510px;
    }

}

@media (min-width:992px) {

    #pearl-11 {
        top: -450px;
        right: 30px;
        width: 1050px;
        height: 1050px;
        top: -260px;
        right: -170px;
        width: 900px;
        height: 900px;
    }

    #pearl-12 {
        width: 390px;
        height: 390px;
        top: 350px;
        left: -45px;
        width: 390px;
        height: 390px;
        top: 480px;
        left: -100px;
        width: 390px;
        height: 390px;
        top: 450px;
        left: -100px;
    }

    div#pearl-13 {
        height: 300px;
        width: 300px;
        display: block;
        position: inherit;
        background-image: url(../../imgs/pearls/13.webp);
        margin: 0 auto;
        right: -580px;
        top: 650px;
        height: 300px;
        width: 300px;
        display: block;
        position: inherit;
        margin: 0 auto;
        right: -370px;
        top: 695px;
        height: 300px;
        width: 300px;
        display: block;
        position: inherit;
        background-image: url(../../imgs/pearls/13.webp);
        margin: 0 auto;
        right: -370px;
        top: 730px;
    }

}


@media (min-width:1200px) {

    #pearl-11 {
        top: -360px;
        right: -90px;
        width: 1050px;
        height: 1050px;
    }

    #pearl-12 {
        width: 390px;
        height: 390px;
        top: 440px;
        left: -105px;
    }

    div#pearl-13 {
        height: 300px;
        width: 300px;
        display: block;
        position: inherit;
        background-image: url(../../imgs/pearls/13.webp);
        margin: 0 auto;
        right: -500px;
        top: 760px;
    }

}

@media(min-width:1680px) {

    #pearl-11 {
        top: -400px;
        right: 40px;
        width: 1050px;
        height: 1050px;
    }

    #pearl-12 {
        width: 450px;
        height: 450px;
        top: 340px;
        left: -100px;
    }

    div#pearl-13 {
        height: 350px;
        width: 350px;
        display: block;
        position: inherit;
        background-image: url(../../imgs/pearls/13.webp);
        margin: 0 auto;
        right: -580px;
        top: 700px;
    }
}
/* END pearls */

/*  ____          _      _    _        */
/* / ___|  _   _ | |__  | |_ | |  ___  */
/* \___ \ | | | || '_ \ | __|| | / _ \ */
/*  ___) || |_| || |_) || |_ | ||  __/ */
/* |____/  \__,_||_.__/  \__||_| \___| */
/* Subtle transitions -----------------*/

.fade-in {
    opacity: 0;
    /*filter: blur(1px);*/
    transform: translateY(75px);
    transition: all 0.65s;
}

.fade-in-header {
    opacity: 0;
    /*filter: blur(1px);*/
    transform: translateY(75px);
    transition: all 0.65s;
    position: relative;
    /* z-index: 2; */
}

.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition-timing-function: ease-out;
}

/*  ____        _              _                          */
/* |  _ \  __ _| |_ __ _      | |_ _   _ _ __   ___  ___  */
/* | | | |/ _` | __/ _` |_____| __| | | | '_ \ / _ \/ __| */
/* | |_| | (_| | || (_| |_____| |_| |_| | |_) |  __/\__ \ */
/* |____/ \__,_|\__\__,_|      \__|\__, | .__/ \___||___/ */
/*                                 |___/|_|               */
/*DATA-TYPES--------------------------------------------- */

[data-before]::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 6px;
    text-decoration: none;
    height: 25px;
    width: 27px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

[data-before="boris-in"]::before {
    background-image: url(/imgs/icons/linkedin-in.svg);
}

[data-before="boris-hr"]::before {
    background-image: url(/imgs/icons/globe-net-white.svg);
    width: 29px;
}

/* New data-type */
/* Con position absolute para que cuando los h4 caigan en 2 lineas, se siga alineando verticalmente */
/* ambos content:url() o background-image funcionan */
[data-acc]::before {
    height: 32px;
    width: 32px;
    position: relative;
    text-decoration: none;
}

[data-acc="rocket"]::before {
    content: url(/imgs/icons/rocket-launch.svg);
}

[data-acc="person"]::before {
    content: url(/imgs/icons/person.svg);
}

[data-acc="globe"]::before {
    content: url(/imgs/icons/globe.svg);
}

[data-acc="dna"]::before {
    content: url(/imgs/icons/dna.svg);
}

[data-acc="hand-coins"]::before {
    content: url(/imgs/icons/hand-coins.svg);
}

[data-acc="shield"]::before {
    content: url(/imgs/icons/shield-chevron.svg);
}

[data-acc="crown"]::before {
    content: url(/imgs/icons/crown-simple.svg);
}

[data-acc="flag"]::before {
    content: url(/imgs/icons/flag-checkered.svg);
}

/* Botones con iconos */
[data-button-icon]::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
}

[data-button-icon]:hover::before {
    opacity: 1;
}

/*  
  #send-message::before {
    background: url(../../imgs/icons/envelope.svg) no-repeat center center;
    margin-top: -2px;
  }

a:hover div#send-message::before {
    background: url(../../imgs/icons/envelope-white.svg) no-repeat center center;
}
*/

[data-button-icon="schedule-call"]::before {
    background-image: url(../../imgs/icons/phone-call.svg);
    margin-block: -8px;
}

[data-button-icon="schedule-call"]:hover::before {
    background-image: url(../../imgs/icons/phone-call-white.svg);
}

[data-button-icon="send-message"]::before {
    background-image: url(../../imgs/icons/paper-plane.svg);
    margin-block: -8px;
}

[data-button-icon="send-message"]:hover::before {
    background-image: url(../../imgs/icons/paper-plane-white.svg);
}

[data-button-icon="globe-net"]::before {
    content: url(/imgs/icons/globe-net.svg);
}

[data-button-icon="globe-net"]:hover::before {
    content: url(/imgs/icons/globe-net-white.svg);
}

[data-button-icon="start-a-chat"]::before {
    background-image: url(../../imgs/icons/chat.svg);
    width: 18px;
    height: 15px;
    opacity: .6;
}

[data-button-icon="book-a-call"]::before {
    background-image: url(../../imgs/icons/phone.svg);
    width: 16px;
    height: 16px;
    opacity: .8;
}
/* END data-types */

/*     _                              _  _                     */
/*    / \    ___  ___  ___   _ __  __| |(_)  ___   _ __   ___  */
/*   / _ \  / __|/ __|/ _ \ | '__|/ _` || | / _ \ | '_ \ / __| */
/*  / ___ \| (__| (__| (_) || |  | (_| || || (_) || | | |\__ \ */
/* /_/   \_\\___|\___|\___/ |_|   \__,_||_| \___/ |_| |_||___/ */
/* accordion component --------------------------------------- */

.accordions-container {
    padding-top: 2rem;
}

.accordion {
    border-bottom: 1px solid #7437f850;
    margin-bottom: 32px;
}

.acc-button {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    transition: .4s;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #ffffff4d;
}

.acc-button h3[data-acc] {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: unset;
    padding-right: 5px;
}

.acc-button:after {
    content: '\002B';
    float: right;
    margin-left: auto;
    font-size: 2rem;
}

.active,
.acc-button:hover {
    color: #7537f8;
}

.acc-button.active:after {
    content: "\2212";
}

/* div.acc-button img {
    margin-right: 10px;
} */

.acc-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/* MediaQuery for Accordion component */
@media (min-width: 1024px) {
    .acc-panel {
        padding-left: 48px;
        padding-right: 20px;
    }
}
/* END Accordion component */

/*   __                  */
/*  / _| __ _  __ _ ___  */
/* | |_ / _` |/ _` / __| */
/* |  _| (_| | (_| \__ \ */
/* |_|  \__,_|\__, |___/ */
/*               |_|     */
/* faqs -----------------*/

#faq {
    scroll-margin-top: 6rem;
}

.faqs .accordion h3 span {
    color: #7537F8;
}

.faqs h3.heading-4 {
    margin-bottom: 0;
    display: flex;
    gap: 5px;
}

@media (min-width: 1024px) {
    .faqs .acc-panel {
        padding-left: 30px;
    }
}
/* END faqs */

/*     _                     _             _             */
/*    / \    ___  ___  ___  | |  __ _   __| |  ___  ___  */
/*   / _ \  / __|/ __|/ _ \ | | / _` | / _` | / _ \/ __| */
/*  / ___ \| (__| (__| (_) || || (_| || (_| ||  __/\__ \ */
/* /_/   \_\\___|\___|\___/ |_| \__,_| \__,_| \___||___/ */
/* Accolades (clients featured) component -------------- */

.clients-featured {
    position: relative;
    z-index: 10;
}

.clients-featured h2 {
    margin-bottom: 1rem;
}

.clients-featured img {
    opacity: 0.6;
}

/* MediaQuery Accolades(Clients featured) */

/* END Accolades */

/*  _              _    _                           _         _       */
/* | |_  ___  ___ | |_ (_) _ __ ___    ___   _ __  (_)  __ _ | | ___  */
/* | __|/ _ \/ __|| __|| || '_ ` _ \  / _ \ | '_ \ | | / _` || |/ __| */
/* | |_|  __/\__ \| |_ | || | | | | || (_) || | | || || (_| || |\__ \ */
/*  \__|\___||___/ \__||_||_| |_| |_| \___/ |_| |_||_| \__,_||_||___/ */
/* testimonials Component ------------------------------------------- */

.testimonials-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.testimonials-container figure {
    margin-inline: 0;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.testimonial blockquote {
    margin-inline: 0;
}

.testimonial figcaption {
    display: flex;
    gap: 10px;
    align-items: center;
}

blockquote p {
    margin-bottom: 16px;
    font-style: italic;
}


/* Home > Testimonial-section MediaQuery */
@media (min-width: 768px) {
    .testimonial {
        width: 30%;
    }

    .testimonials-container {
        flex-direction: row;
        align-items: flex-start;
    }
}
/* END Testimonials */

/*  _   _            _                _        _   ____                 _ _  */
/* | | | | ___  _ __(_)_______  _ __ | |_ __ _| | / ___|  ___ _ __ ___ | | | */
/* | |_| |/ _ \| '__| |_  / _ \| '_ \| __/ _` | | \___ \ / __| '__/ _ \| | | */
/* |  _  | (_) | |  | |/ / (_) | | | | || (_| | |  ___) | (__| | | (_) | | | */
/* |_| |_|\___/|_|  |_/___\___/|_| |_|\__\__,_|_| |____/ \___|_|  \___/|_|_| */
/* Horizontal Scroll - Slider -----------------------------------------------*/

/* Scroll Individual-Values */
/* +-+-+ +-+-+-+-+-+-+-+-+-+-+*/

/* accolades values */
.clients-featured .scroller__inner {
    --gap: 5rem;
}
/* teamSlider values */
.team-slider .scroller__inner {
    --gap: 50px;
    padding-block: 10px
}
.scroller:nth-child(1) {
    --duration: 90s;
}

.scroller:nth-child(2) {
    --duration: 100s;
}

.scroller:nth-child(3) {
    --duration: 90s;
}

.team-avatar2  {
    margin-left: 40px;
}
.team-avatar3  {
    margin-left: 15px;
}


/* Scroll General-Values */
/* -+-+-+-+-+-+-+-+-+-+-+*/

@keyframes scroll {
    to {
        transform: translate(calc(-50% - calc(var(--gap, 30px) / 2))); /* la mitad del gap*/
    }
}

.scroller {
    margin-inline: auto;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap, 30px);
}

.scroller[data-animated=true] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
    mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}
@media (max-width: 1100px) {
    .scroller[data-animated=true] {
        -webkit-mask:unset;
        mask: unset;
    }
    section:has(>.scroller) {
        width: 100%;
    }
}


.scroller[data-animated=true] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 
    var(--_animation-duration, 40s)
    var(--_animation-direction, forwards)
    linear
    infinite;
}
.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}
.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}
.scroller[data-duration="slow"] {
    --_animation-duration: 60s;
}
.scroller[data-duration="fast"] {
    --_animation-duration: 20s;
}
.scroller[data-duration="custom"] {
    --_animation-duration: var(--duration);
}

/* END Horizontal-Scroll **/

/*  _____                      ____  _ _     _                */
/* |_   ____  __ _ _ __ ___   / ___|| (_) __| | ___ _ __ ___  */
/*   | |/ _ \/ _` | '_ ` _ \  \___ \| | |/ _` |/ _ | '__/ __| */
/*   | |  __| (_| | | | | | |  ___) | | | (_| |  __| |  \__ \ */
/*   |_|\___|\__,_|_| |_| |_| |____/|_|_|\__,_|\___|_|  |___/ */
/* Team Sliders ----------------------------------------------*/

.team-card {
    background-color: #1E1758;
    border-radius: 8px;
    width: 250px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-inline: 10px;
}

.team-card strong {
    font-family: Figtree;
    font-size: 16px;
    font-weight: 800;
    line-height: 19.2px;
    text-align: left;
}

.team-card small {
    font-family: Figtree;
    font-size: 12px;
    font-weight: 300;
    line-height: 14.4px;
    text-align: left;

}

.team-card .col:nth-child(1) {
    width: fit-content;
    background-image: radial-gradient(50% 50% at center, #070924 0% 80%, transparent 81% 100%);
    background-size: 85px 85px;
    background-repeat: no-repeat;
    background-position: center;
}

.team-card .col:nth-child(1) img {
    width: 85px;
    height: 85px;
    max-width: unset;
}

.team-card .col:nth-child(2) * {
    display: block;
}

@media (max-width: 900px) {
    .team-card.row {
        flex-direction: row;
    }
}
/* END team slider */

/*     _        _   _       _ _               _                */
/*    / \   ___| |_(_)_   _(_) |_ _   _      | |__   _____  __ */
/*   / _ \ / __| __| \ \ / / | __| | | |_____| '_ \ / _ \ \/ / */
/*  / ___ \ (__| |_| |\ V /| | |_| |_| |_____| |_) | (_) >  <  */
/* /_/   \_\___|\__|_| \_/ |_|\__|\__, |     |_.__/ \___/_/\_\ */
/*                                |___/                        */
/* Activity-box -----------------------------------------------*/

.activity-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-bottom: 150px;
    max-width: 1400px;
}

.activity-item {
    width: min(240px, 48.624%);
    border-radius: 4px;
}

.activity-item img {
    display: block;
    border-radius: 4px;
    width: 100%;
}

@media (min-width: 1025px) {
    .activity-item {
        max-width: 226.663px;
    }
}
/* END Activity-box */

/*   ____ _           _   _           _    */
/*  / ___| |__   __ _| |_| |__   ___ | |_  */
/* | |   | '_ \ / _` | __| '_ \ / _ \| __| */
/* | |___| | | | (_| | |_| |_) | (_) | |_  */
/*  \____|_| |_|\__,_|\__|_.__/ \___/ \__| */
/* Chatbot --------------------------------*/

/* Change position of Cookies and Chat modals on scroll over the footer */
.bottom-120,
#crisp-chatbox div a.bottom-120 {
    bottom: 120px !important;
}

/*automatic message to not overlapping with chat bubble*/
a.bottom-120 span .cc-1fs0[data-id="new_messages"] {
    margin-bottom: 100px !important;
}

/*instant chat-window to not overlapping with chat bubble*/
a.bottom-120 span.cc-9q9h.cc-1ev6 {
    margin-bottom: 100px !important;
}

/*chat-window to not overlapping with chat bubble*/
.cc-1hqb[data-visible="true"]:has(+ .bottom-120) {
    margin-bottom: 100px !important;
}

/*chat-window to not overlapping with chat bubble*/
.crisp-client .cc-tlyw.cc-tlyw {
    z-index: 60;
}

.crisp-client .cc-tlyw .cc-kxkl .cc-nsge span.cc-imbb {
    box-shadow: 0 0 0 2px #070924 !important;
}
/* END  ChatBot*/

/* //////////////////////////////////////////////////////////////////////////////////// */
/* //                                                                                // */
/* //                                                                                // */
/* //     ____                             ____    _             _                   // */
/* //    |  _ \    __ _    __ _    ___    / ___|  | |_   _   _  | |   ___   ___      // */
/* //    | |_) |  / _` |  / _` |  / _ \   \___ \  | __| | | | | | |  / _ \ / __|     // */
/* //    |  __/  | (_| | | (_| | |  __/    ___) | | |_  | |_| | | | |  __/ \__ \     // */
/* //    |_|      \__,_|  \__, |  \___|   |____/   \__|  \__, | |_|  \___| |___/     // */
/* //                     |___/                          |___/                       // */
/* //                                                                                // */
/* //                                                                                // */
/* //////////////////////////////////////////////////////////////////////////////////// */

/*  _   _                                                */
/* | | | | ___  _ __ ___   ___   _ __   __ _  __ _  ___  */
/* | |_| |/ _ \| '_ ` _ \ / _ \ | '_ \ / _` |/ _` |/ _ \ */
/* |  _  | (_) | | | | | |  __/ | |_) | (_| | (_| |  __/ */
/* |_| |_|\___/|_| |_| |_|\___| | .__/ \__,_|\__, |\___| */
/*                              |_|          |___/       */
/* Home (index) page --------------------------------------------*/

/* Cover section */
.home-cover {
    text-align: center;
    margin-top: 20px;
}

.home-cover p {
    max-width: 450px;
    margin: 35px auto;
    opacity: .7;
}

.home-cover .caption {
    opacity: 0.7;
}

.home-cover :is(h1, p, small, a) {
    position: relative;
    z-index: 10;
}

@media (min-width: 900px) {
hr.pearl-separator {
    margin-top: -185px;
}}



/* services section */

#services {
    scroll-margin-top: 4rem;
}

.subscribe-section {
    margin-bottom: 4rem;
}

.build,
.hire {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
}

.services-card {
    border: 1px solid #7437f850;
    background: #120e32;
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 16px;
    text-align: center;
    width: 100%;
    flex-grow: 1;
    padding: 24px 16px;
}

.hire {
    margin-top: 3rem;
}

.services-card .caption {
    opacity: .7;
    margin-bottom: 6px;
    font-weight: 400;
}

.services-card img {
    display: inline;
    margin-bottom: 16px;
}

.services-card .heading-3 {
    margin-bottom: 8px;
}

/* Home > Services-section mediaqueries */
@media (min-width: 900px) {

    .build,
    .hire {
        align-items: flex-start
    }

    .cards-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;
        max-width: unset;
    }
}
/* END Home-Page*/

/*     _     _                    _     ____                      */
/*    / \   | |__    ___   _   _ | |_  |  _ \  __ _   __ _   ___  */
/*   / _ \  | '_ \  / _ \ | | | || __| | |_) |/ _` | / _` | / _ \ */
/*  / ___ \ | |_) || (_) || |_| || |_  |  __/| (_| || (_| ||  __/ */
/* /_/   \_\|_.__/  \___/  \__,_| \__| |_|    \__,_| \__, | \___| */
/*                                                   |___/        */
/* about page ----------------------------------------------------*/

h1.caption {
    margin-bottom: 1rem;
}

.column-to-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.one-half {
    width: 100%;
    max-width: 400px;
}

/* founder section */

section.founder h2 {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

section.founder h4 {
    margin-bottom: 8px;
}

.founder-bios {
    width: fit-content;
    margin: 0 auto;
}

.founder-bios .founder-boris {
    max-width: 200px;
    margin-bottom: 20px;
    border-radius: 12px;
}

img.flag {
    height: 20px;
    width: auto;
    border-radius: 2px;
    margin-right: 8px;
    vertical-align: bottom;
    display: inline;
}

.founder-bios h4 {
    opacity: .5;
}

.founder .column-to-row {
    align-items: flex-start;
    justify-content: center;
}

.founder-social {
    display: flex;
    gap: 25px;
    margin-left: 25px;
    margin-top: 2rem;
}

.founder-social a img {
    margin-right: 3px;
    opacity: 0.5;
    display: inline;
    vertical-align: bottom;
}

.founder-social :is(.boris-hr-link:hover img, .boris-in-link:hover img) {
    opacity: 1;
}

.founder li {
    text-wrap: balance;
}

iframe#plcq-tutorial {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    border: none;
}
/* founder section end */

section.plat-section h2 {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

section.plck-section h2 {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

/* About Page mediaQueries */
@media (min-width: 768px) {
    .column-to-row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    section:nth-of-type(odd) .one-half:nth-of-type(odd) {
        order: 1;
    }

    .column-to-row .one-half {
        width: calc(50% - 12px);
    }

    .founder .column-to-row {
        gap: 52px;
    }

    .founder-bios {
        margin: unset;
    }

    .founder-list {
        width: 60%;
    }
}


/* __        __         _                              */
/* \ \      / /__  _ __| | __  _ __   __ _  __ _  ___  */
/*  \ \ /\ / / _ \| '__| |/ / | '_ \ / _` |/ _` |/ _ \ */
/*   \ V  V / (_) | |  |   <  | |_) | (_| | (_| |  __/ */
/*    \_/\_/ \___/|_|  |_|\_\ | .__/ \__,_|\__, |\___| */
/*                            |_|          |___/       */
/* work page ------------------------------------------*/

.featured-project {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 20px;
}

.project-cover {
    position: relative;
    width: 100%;
}

.project-cover figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    border-radius: 4px;
    width: 90%;
}

.project-cover figure:hover img,
.project-cover-hover figure img {
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
}

.project-preview {
    display: none;
}

.project-description {
    max-width: 460px;
    padding-top: 0;
}

.project-description .heading-2 {
    padding-top: 0;
}

.button-hover {
    background-image: none !important;
    box-shadow: 0 0 10px #712fff, inset 0 0 0 2px #070924 !important;
    background-color: #712fff !important;
}

@media (min-width: 576px) {

    .featured-project {
        flex-direction: row;
        gap: unset;
        margin-bottom: 100px;
    }

    .project-description {
        width: 50%;
        margin-left: 20px;
        padding-top: 5px;
    }

}

@media (min-width: 768px) {

    .featured-project {
        margin-bottom: 150px;
    }

    .project-description .heading-2 {
        padding-top: 0;
    }
}

@media (min-width: 992px) {

    .project-description {
        padding-top: 75px;
    }
}

@media (min-width: 1200px) {

    .project-cover {
        width: 100%;
        max-width: 600px;
    }

    .project-preview {
        display: flex;
        width: 340px;
        position: absolute;
        bottom: -8px;
        right: -20px;
        box-shadow: 0 0 15px 0px #00000033;
    }

    .project-description {
        padding-top: 35px;
        margin-left: 40px;
    }

}

/* END work-Page*/


/*   ____                     _             _ _            */
/*  / ___|__ _ ___  ___   ___| |_ _   _  __| (_) ___  ___  */
/* | |   / _` / __|/ _ \ / __| __| | | |/ _` | |/ _ \/ __| */
/* | |__| (_| \__ \  __/ \__ \ |_| |_| | (_| | |  __/\__ \ */
/*  \____\__,_|___/\___| |___/\__|\__,_|\__,_|_|\___||___/ */
/*case-study pages---------------------------------------- */

.case-study h1 {
    text-align: center;
}

.project-p {
    width: 100%;
    max-width: 525px;
    text-align: left;
    margin-inline: auto;
}

div#slider-container {
    width: calc(100% - 30px);
    margin-inline: auto;
}

.slick-slider.slick-initialized :is(button) {
    box-shadow: none;
    background-image: none !important;
}

.other-projects-container h2 {
    margin-bottom: 8px;
}

.other-project-cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.other-project-cards h3 {
    margin-top: 16px;
}

div.other-project-card p {
    width: 100%;
    max-width: 480px
}

div.other-project-card img {
    width: 100%;
    max-width: 500px;
    border-radius: 4px
}

/*media queries for case studies*/
@media (min-width: 768px) {

    div#slider-container {
        width: unset;
        margin-inline: unset;
    }

    .other-project-cards {
        flex-direction: row;
    }
}

/* END case-study pages */

/*   ____            _             _                             */
/*  / ___|___  _ __ | |_ __ _  ___| |_   _ __   __ _  __ _  ___  */
/* | |   / _ \| '_ \| __/ _` |/ __| __| | '_ \ / _` |/ _` |/ _ \ */
/* | |__| (_) | | | | || (_| | (__| |_  | |_) | (_| | (_| |  __/ */
/*  \____\___/|_| |_|\__\__,_|\___|\__| | .__/ \__,_|\__, |\___| */
/*                                      |_|          |___/       */
/* Contact page -------------------------------------------------*/

/* el width agregado en plkt para qe en mobile tenga margenes, afecta los <hr> verticales */
hr.vertical-hr {
    width: unset;
}

/* contact form styles */
form#contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    max-width: 450px;
    margin: 0 auto;
}

form#contact-form input,
form#contact-form textarea {
    margin-top: 2px;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 4px;
    font-size: 1rem;
}

div.g-recaptcha {
    margin: auto;
}

div.err-msj {
    text-align: center;
    color: red;
    margin: 10px 0;
    display: none;
}
/* end contact form styles*/

img.contact-flag {
    display: inline;
    height: 35px;
    width: auto;
    border-radius: 2px;
    margin-right: 5px;
    vertical-align: text-top;
}

.contact-vertical-line {
    display: none;
}

/* contact page mediaquery */
@media (min-width: 1000px) {
    .message-call {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .message-call section {
        width: 40%;
    }
}

/* END Contact page*/


/*  ____  _                                               _ _  */
/* |  _ \(_)___  ___ _____   _____ _ __ _   _    ___ __ _| | | */
/* | | | | / __|/ __/ _ \ \ / / _ \ '__| | | |  / __/ _` | | | */
/* | |_| | \__ \ (_| (_) \ V /  __/ |  | |_| | | (_| (_| | | | */
/* |____/|_|___/\___\___/ \_/ \___|_|   \__, |  \___\__,_|_|_| */
/*                                      |___/                  */
/* Discovery call ---------------------------------------------*/

.boris-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.boris-container img.portrait {
    width: 100%;
    max-width: 180px;
    height: auto;
    border-radius: 12px;
    margin-bottom: 20px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.boris-bio h2 {
    margin-bottom: .5rem;
}

.boris-bio h3 {
    margin-bottom: 1rem;
}

.boris-bio .founder-social {
    margin-left: unset;
    ;
}

.discovery-main .cta-section #schedule-call {
    display: none;
    visibility: hidden;
}

.discovery-main .cta-section #landing-cta-button {
    display: flex;
    visibility: unset;
}

@media (min-width: 768px) {
    .boris-container {
        flex-direction: row;
        gap: 20px;
        margin-bottom: unset
    }

}
/* END Discovery-call page */

/*  ____        _                   _       _   _                                           */
/* / ___| _   _| |__  ___  ___ _ __(_)_ __ | |_(_) ___  _ __  ___   _ __   __ _  __ _  ___  */
/* \___ \| | | | '_ \/ __|/ __| '__| | '_ \| __| |/ _ \| '_ \/ __| | '_ \ / _` |/ _` |/ _ \ */
/*  ___) | |_| | |_) \__ \ (__| |  | | |_) | |_| | (_) | | | \__ \ | |_) | (_| | (_| |  __/ */
/* |____/ \__,_|_.__/|___/\___|_|  |_| .__/ \__|_|\___/|_| |_|___/ | .__/ \__,_|\__, |\___| */
/*                                   |_|                           |_|          |___/       */
/* subscription ----------------------------------------------------------------------------*/

.subscription-plans h2 {
    margin-bottom: 4rem;
}

body.home .start-today-button {
    display: none;
}

body.subscriptions .learn-more-button {
    display: none;
}

/* toggle buttons*/
.toggle-container {
    position: relative;
    width: 333px;
    height: 50px;
    margin-inline: auto;
    margin-bottom: 20px;
}

.toggle-container button {
    position: absolute;
    inset-block: 0 auto;
    margin: 0;
    z-index: 10;
    font-weight: 400;
    opacity: 1;
    background: none;
}

.toggle-container button:nth-child(2)::before {
    content: attr(data-content);
    position: absolute;
    top: -26px;
    font-weight: 400;
}

.toggle-container button:is(:active, :focus) {
    outline: none;
}

.toggle-container button:nth-child(1) {
    left: 0px;
}

.toggle-container button:nth-child(2) {
    right: 0px;
}

.active-button.active-button {
    background-color: #722FFF;
    padding-block: 10px;
    border: 6px solid #722FFF;
    z-index: 11;
    margin-top: -5px;
    cursor: default;
    font-weight: 700;
    box-shadow: 0px 0px 4px 4px #000;
    opacity: 1;
}

.toggle-container .active-button:hover {
    box-shadow: 0px 0px 4px 4px #000;
}

/* plan cards */
.subscription-plan-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #7437f850;
    background: #120e32;
    border-radius: 6px;
    margin-bottom: 16px;
    flex: 1;
    width: 300px;
    margin-inline: auto;
}

.featured-card .card-header {
    background-image: linear-gradient(45deg, #722FFF, #4b00ae, #d12b94, #722FFF, #4b00ae);
    background-size: 200% 200%;
    animation: gradient 12s infinite;
}

.card-header {
    background: #391E81;
    padding: 16px;
    border-radius: 6px 6px 0 0;
    position: relative;
}

.card-header h3 {
    margin-bottom: 0rem;
    font-weight: 700;
}

.card-header h4 {
    font-weight: 400;
    display: inline;
}

.card-header small.caption {
    opacity: 0.6;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-block: 24px 16px;
    padding-inline: 16px;
}

.subscription-plan-card ul li {
    font-family: 'Figtree', sans-serif !important;
    text-wrap: balance;
    font-size: 1rem;
    margin-bottom: 0.35rem;
}

.subscription-third-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 16px;
    width: 300px;
    margin-inline: auto;
}

.subscription-third-col h4 {
    margin-bottom: 0;
}

.subscription-third-col hr {
    margin-block: 2rem;
    width: 100%;
}

.subscription-plan-card ul li::before {
    content: "✓";
}

.coin-illustration {
    max-width: 250px;
}

.card-label {
    position: absolute;
    inset: 12px 12px auto auto;
    padding: 6px 16px 4px;
    background: rgb(6 9 36 / 41%);
    border-radius: 4px;
}

.bold {
    font-weight: 700 !important;
    color: white !important;
}

/* value propts */
.subscription-value-props h2 {
    margin-bottom: 1rem;
}

.subscription-value-props p {
    max-width: 300px;
}

.value-img {
    width: 70px;
    height: 70px;
    /* align-content: center; */
    background-color: #120E32;
    border: 1px solid #7437f850;
    border-radius: 6px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.value-img img {
    margin-inline: auto;
    height: 32px;
    user-select: none;
}

/*mediquerys  subscriptions*/
@media (max-width: 900px) {
    .subscription-value-props p {
        max-width: 300px;
    }
}
/* Tech Stack */

/* Slick */
.stack-carrousel .slick-dots {
    bottom: -45px;
}

.stack-carrousel .slick-dots li::before {
    content: unset;
}

[data-acc="rocket"]::before {
    content: url('/imgs/icons/rocket-launch.svg');
}

.stack-carrousel .slick-dots li.slick-active button::before {
    color: #722FFF;
    content: url('/imgs/bullet-active.svg');
}

.stack-carrousel .slick-dots li button::before {
    color: #722FFF;
    content: url('/imgs/bullet-inactive.svg');
    opacity: 1;
}

/* End Slick */

.stack-u {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.stack-u img {
    width: 35px;
    max-height: 35px;
    user-select: none;
}

.stack-u span {
    min-width: fit-content;
    color: inherit;
}

.stack-u.pro::after {
    content: 'PRO';
    background: #7437f850;
    border-radius: 4px;
    min-width: 39px;
    height: 17px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    align-content: center;
}

/* MediaQueries Subscriptions > Tech-stack-section */
@media (max-width: 900px) {
    .stack-carrousel {
        width: 100%;
    }

    .stack-carrousel *.fade-in {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }

    .slide-inside {
        display: flex;
        margin-inline: auto;
        flex-direction: column;
        width: fit-content;
    }

    .stack-u {
        text-align: center;
    }

    .stack-u img {
        margin-inline: auto;
    }

    .carrousel-col {
        width: 100%;
        display: flex;
    }

    .carrousel-col .stack-u {
        margin-bottom: 20px;
    }
}

@media (min-width: 900px) {

    .carrousel-col,
    .slide-inside {
        display: contents;
    }

    .stack-carrousel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(9, auto);
        grid-auto-flow: column;
        gap: 18px
    }
}
/*end subscriptions page*/

/*  ____        _                   _       _   _                                     __ _                         _ */         
/* / ___| _   _| |__  ___  ___ _ __(_)_ __ | |_(_) ___  _ __         ___ ___   _ __  / _(_)_ __ _ __ ___   ___  __| |*/
/* \___ \| | | | '_ \/ __|/ __| '__| | '_ \| __| |/ _ \| '_ \ _____ / __/ _ \ | '_ \| |_| | '__| '_ ` _ \ / _ \/ _` |*/
/*  ___) | |_| | |_) \__ | (__| |  | | |_) | |_| | (_) | | | |_____| (_| (_) || | | |  _| | |  | | | | | |  __| (_| |*/
/* |____/ \__,_|_.__/|___/\___|_|  |_| .__/ \__|_|\___/|_| |_|      \___\___/ |_| |_|_| |_|_|  |_| |_| |_|\___|\__,_|*/
/*                                   |_|                                                                             */
/* Subscription-confirmed page ----------------------------------------------*/

main.subs-confirmed-main h1 {
    margin-bottom: 1.5rem;
}

video {
    border-radius: 4px;
}

body.subs-confirmed main {
    margin-bottom: 86px;
}

.account-manager.column-to-row {
    justify-content: center;
}

.account-manager-img {
    width: 179px;
    border-radius: 12px;
}

.account-manager .account-manager-col {
    width: fit-content;
}

/* mediaQueris for subscription-confirmed page */
@media (min-width: 768px) {
    body.subs-confirmed section:nth-of-type(odd) .one-half:nth-of-type(odd) {
        order: unset;
        /* Esto cancela el estilo general que apunta a los odd */
    }

    body.subs-confirmed section:nth-of-type(even) .one-half:nth-of-type(odd) {
        order: 1;
    }
}
/* END Subscription-confirmed page */

/*  _   _                   _      _   _             */
/* | \ | | _____      _____| | ___| |_| |_ ___ _ __  */
/* |  \| |/ _ \ \ /\ / / __| |/ _ | __| __/ _ | '__| */
/* | |\  |  __/\ V  V /\__ | |  __| |_| ||  __| |    */
/* |_| \_|\___| \_/\_/ |___|_|\___|\__|\__\___|_|    */
/* Newsletter page ----------------------------------*/


.past-newsletters .column-to-row {
    align-items: flex-start;
}

.past-newsletters article {
    width: calc(33% - 10px);
    background: #120e32;
    padding: 1.5rem;
    border-radius: 4px;
}

.lightbox {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 100;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
}

.lightbox-modal {
    background: #120e32;
    padding: 1rem;
    margin: 2rem auto;
}

#newsletter-icon-1::before {
    content: "💎";
}

#newsletter-icon-2::before {
    content: "🔑";
}

#newsletter-icon-3::before {
    content: "🤝";
}

/*END newsletter page*/

/*TEST area : Para luego acomodar en su lugar correspondiente */



#context-menu {
    position: absolute;
    background: #120e32;
    border: 1px solid #7437f850;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 60;
    font-family: Figtree;
    overflow: hidden;
}

#context-menu * {
    font-family: Figtree;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    text-transform: none;
    letter-spacing: .5px;
    color: inherit;
    
}

#context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#context-menu ul li::before {
content: none;
}

#context-menu li {
    padding: 2px 12px 14px 12px;
    cursor: pointer;
    & a {
        color: white;
        opacity: .7;
    }
}

#context-menu li:hover {
    background: #1e1758;
 & a {
    color: white;
    opacity: 1;
 }
}

.confirm-message {
    position: fixed;
    top: 20%;
    left: 50%;
    z-index: 60;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.confirm-message.anime {
    display: block;
    opacity: 1;
}

[data-before="arrow-square-out"]::before {
    background-image: url(/imgs/icons/arrow-square-out-fill.svg);
    height: 23px;
    width: 30px;
    top: 8px;
}
[data-before="copy"]::before {
    background-image: url(/imgs/icons/copy-fill.svg);
    height: 23px;
    width: 30px;
    top: 8px;
}
[data-before="google-drive"]::before {
    background-image: url(/imgs/icons/google-drive-logo-fill.svg);
    height: 23px;
    width: 30px;
    top: 6px;
}