.cover {
    margin-top: -140px;
    padding-top: 140px;
    margin-bottom: 80px;
    padding-bottom: 80px;
    background: #0c0124;
    background-image: radial-gradient(at top, var(--accent-color-20pct) 0%, transparent 60%);
    border-bottom: 1px solid var(--accent-color-30pct);
    overflow: hidden;
    position: relative;
}

.pattern-background {
    background: conic-gradient(from 180deg at 50% 70%,hsla(0,0%,98%,1) 0deg,#3939f4 72.0000010728836deg,#f92dfc 104.0000021457672deg,#1d1dae 216.00000858306885deg,#f92dfc 288.0000042915344deg,#f92dfc 1turn);
    width: 100%;
    height: 100%;
    mask:
      radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% / 20px 20px,
      url("https://assets.codepen.io/605876/noise-mask.png") 256px 50% / 256px 256px;
    mask-composite: intersect;
    animation: flicker 20s infinite linear;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 1;
    mix-blend-mode: color-dodge;
  }
  
  @keyframes flicker {
    to {
      mask-position: 50% 50%, 0 50%;
    }
  }

.cover-inner {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.cover-two-pearls-background {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    overflow: hidden;
    height: 800px;
}

.cover-two-pearls-background .pearl {
    display: block;
    background-image: url(../../imgs/pearls/09.webp);
    height: 400px;
    width: 400px;
    left: -320px;
    top: 100px;
}

.body-free-makeover .cover-two-pearls-background .pearl {
    top: 40px;
}

.cover-two-pearls-background .pearl.pearl-right {
    left: unset;
    right: -320px;
}

@media (min-width: 900px) {
    .cover-two-pearls-background .pearl {
        height: 600px;
        width: 600px;
        left: -300px;
    }
    .cover-two-pearls-background .pearl.pearl-right {
        left: unset;
        right: -300px;
    }    
}

.video-cover {
    background: url('../../imgs/static-pattern.png') no-repeat center center;
    background-size: cover;
}