.cover {
    margin-top: -140px;
    padding-top: 140px;
    margin-bottom: 80px;
    padding-bottom: 80px;
    background: var(--accent-color-900);
    background-image: radial-gradient(at top, var(--accent-color-50pct) 0%, transparent 60%);
    border-bottom: 1px solid var(--accent-color-30pct);
}

.pattern-background {
    background: url('../../../imgs/background-pattern.png') center no-repeat;
    background-size: cover;
}

.cover-inner {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.cover-two-pearls-background {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    overflow: hidden;
    height: 800px;
}

.cover-two-pearls-background .pearl {
    display: block;
    background-image: url(../../imgs/pearls/09.webp);
    height: 400px;
    width: 400px;
    left: -320px;
    top: 100px;
}

.body-free-makeover .cover-two-pearls-background .pearl {
    top: 40px;
}

.cover-two-pearls-background .pearl.pearl-right {
    left: unset;
    right: -320px;
}

@media (min-width: 900px) {
    .cover-two-pearls-background .pearl {
        height: 600px;
        width: 600px;
        left: -300px;
    }
    .cover-two-pearls-background .pearl.pearl-right {
        left: unset;
        right: -300px;
    }    
}