:root {
    --cta-section-background: var(--slate-900);
}

.section-cta {
    background: var(--cta-section-background);
    background-image: radial-gradient(at top, var(--accent-color-30pct) 0%, transparent 60%);
    border-top: 1px solid var(--accent-color-30pct);
    padding-top: 100px;
    padding-bottom: 120px;
}