:root {
    --cta-section-background: var(--slate-900);
}

.section-cta {
    background: #060012d5;
    background-image: radial-gradient(at top, var(--accent-color-30pct) 0%, transparent 60%);
    border-top: 1px solid var(--accent-color-30pct);
    position: relative;
    overflow: hidden;
}

.body-branding .section-cta {
    padding-bottom: 0;
}

.section-cta .section-with-video-bg {
    padding-top: 100px;
    padding-bottom: 120px;
}

.body-subscriptions .cta-section-content-general, .body-branding .cta-section-content-general, .body-staff-augmentation .cta-section-content-general {
    display: none;
}

.body-subscriptions .cta-section-content-subscriptions, .body-branding .cta-section-content-branding, .body-staff-augmentation .cta-section-content-staff-augmentation {
    display: flex;
}

body:not(.body-subscriptions) .cta-section-content-subscriptions, body:not(.body-branding) .cta-section-content-branding, body:not(.body-staff-augmentation) .cta-section-content-staff-augmentation {
    display: none;
}

.section-cta .calendly-inline-widget {
    width: 100%;
}

.section-cta .content-wrapper {
    padding-block: 6rem;
}