/* ------------------------------------------------------ */
/*///////////// _ABOUT.scss start /////////////*/

.section-cover-about img {
    max-width: 360px;
    margin-inline: auto;
}

.section-board-members ul {
    margin-bottom: 0;
}

.board-member-portrait {
    max-width: 200px;
    border-radius: 24px;
    border: 1px solid var(--accent-color-30pct);
}

.board-members-social {
    display: block;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

@media (min-width: 900px) {
    img.board-member-portrait {
        margin-bottom: 2rem;
    }
    
    .section-board-members h3 {
        max-width: 140px;
    }
}

.section-poly-atlas h2 {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 900px) {
    .section-poly-atlas .button, .section-poly-cookies .button {
        margin-right: auto;
        margin-left: unset;
    }

    .section-poly-cookies .row {
        flex-direction: row-reverse;
    }
}

.poly-cookies-video {
    border-radius: 16px;
    border: none;
    max-width: 100%;
}

.click-animation {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    height: 220px;
}

@keyframes click-scale {
    0%, 10% {
        transform: scale(1);
        opacity: 1;
    }
    5% {
        transform: scale(0.95);
        opacity: 0.8;
    }
}

@keyframes click-lines {
    0%, 10% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
}

.cursor-image {
    animation: click-scale 3s infinite;
    height: 64px;
}

.about-pearl-background {
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about-pearl-background .pearl {
    display: block;
    background-image: url('../../imgs/pearls/09.webp');
    height: 220px;
    width: 220px;
    top: -110px;
}

.click-lines {    position: absolute;
    left: calc(50% - 49px);
    top: calc(50% - 58px);
    opacity: 0;
    animation: click-lines 3s infinite;
    height: 40px;
}

@media (min-width: 900px) {
    .click-animation {
        height: 320px;
    }
    .about-pearl-background .pearl {
        display: block;
        background-image: url('../../imgs/pearls/09.webp');
        height: 320px;
        width: 320px;
        top: -150px;
    }
    .click-animation .cursor-image {
        height: 80px;
    }
    .click-lines {
        position: absolute;
        left: calc(50% - 60px);
        top: calc(50% - 70px);
        height: 47px;
    }
}

/*///////////// _ABOUT.scss end /////////////*/
/* ------------------------------------------------------ */