.section-services-breakdown .card h3 {
    display: flex;
    align-items: center;
    height: 54px;
}

.section-services-breakdown .icon-container {
    margin-bottom: 0;
    height: 54px;
    width: 54px;
    padding: 8px;
}

.section-services-breakdown .card .row {
    flex-direction: row;
    gap: 0.75rem;
}
/*
.branding-page .col.card {
    flex: unset;
    height: fit-content;
}

.thought-leaders-section .col {
    max-width: 400px;
    margin-inline: auto;
}
    */

@media (min-width: 900px) {
    .section-services-breakdown .card h3 {
        height: 70px;
    }

    .section-services-breakdown .icon-container {
        height: 70px;
        width: 70px;
    }

    /*
    .section-services-breakdown .card .row {
        margin-bottom: 1rem;
    }
    .thought-leaders-section .col {
        max-width: unset;
        margin-inline: unset;
    }
        */
}