.project-p {
    width: 100%;
    max-width: 525px;
    text-align: left;
    margin-inline: auto;
}

div#slider-container {
    width: calc(100% - 30px);
    margin-inline: auto;
}

.slick-slider.slick-initialized :is(button) {
    box-shadow: none;
    background-image: none !important;
}

.other-projects-container h2 {
    margin-bottom: 8px;
}

.other-project-cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.other-project-cards h3 {
    margin-top: 16px;
}

div.other-project-card p {
    width: 100%;
    max-width: 480px
}

div.other-project-card img {
    width: 100%;
    max-width: 500px;
    border-radius: 4px
}

/*media queries for case studies*/
@media (min-width: 768px) {

    div#slider-container {
        width: unset;
        margin-inline: unset;
    }

    .other-project-cards {
        flex-direction: row;
    }
}