/* ------------------------------------------------------ */
/*///////////// _HOME.scss start /////////////*/

.section-cover-home {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        max-width: 445px;
    }
}

.cover-home-background {
    position: relative;
    width: 100%;
    height: 100%;
    top: -900px;
    left: 0;
    z-index: -5;
    overflow-x: clip;
    opacity: 0.9;
}
    
#pearl-1 {
    display: block;
    background-image: url('../../imgs/pearls/09.webp');
    width: 400px;
    height: 400px;
    top: 180px;
    right: -110px;
    transition-property: opacity;
    transition-duration: 1500ms;
    transition-delay: 400ms;
}
    
#pearl-2 {
    display: block;
    background-image: url('../../imgs/pearls/01.webp');
    width: 300px;
    height: 300px;
    top: 360px;
    left: -120px;
    transition-property: opacity;
    transition-duration: 1000ms;
    transition-delay: 800ms;
}
    
#pearl-3 {
    transition-property: opacity;
    transition-duration: 700ms;
    transition-delay: 600ms;
}

@media (min-width:576px) {

    #pearl-1 {
        top: -420px;
        right: -400px;
        width: 900px;
        height: 900px;
    }

    #pearl-2 {
        width: 300px;
        height: 300px;
        top: 350px;
        left: -60px;
    }

    div#pearl-3 {
        height: 300px;
        width: 300px;
        display: block;
        position: inherit;
        margin: 0 auto;
        right: -580px;
        top: 650px;
        height: 245px;
        width: 245px;
        display: block;
        position: inherit;
        background-image: url(../../imgs/pearls/13.webp);
        margin: 0 auto;
        right: -200px;
        top: 525px;
    }
}

@media(min-width:768px) {

    #pearl-1 {
        top: -400px;
        right: -310px;
        width: 900px;
        height: 900px;
    }

    #pearl-2 {
        width: 300px;
        height: 300px;
        top: 340px;
        left: -60px;
    }

    div#pearl-3 {
        height: 300px;
        width: 300px;
        display: block;
        position: inherit;
        background-image: url(../../imgs/pearls/13.webp);
        margin: 0 auto;
        right: -580px;
        top: 650px;
        height: 280px;
        height: 250px;
        width: 250px;
        display: block;
        position: inherit;
        background-image: url(../../imgs/pearls/13.webp);
        margin: 0 auto;
        right: -320px;
        top: 510px;
    }

}

@media (min-width:992px) {

    #pearl-1 {
        top: -450px;
        right: 30px;
        width: 1050px;
        height: 1050px;
        top: -260px;
        right: -170px;
        width: 900px;
        height: 900px;
    }

    #pearl-2 {
        width: 390px;
        height: 390px;
        top: 350px;
        left: -45px;
        width: 390px;
        height: 390px;
        top: 480px;
        left: -100px;
        width: 390px;
        height: 390px;
        top: 450px;
        left: -100px;
    }

    div#pearl-3 {
        height: 300px;
        width: 300px;
        display: block;
        position: inherit;
        background-image: url(../../imgs/pearls/13.webp);
        margin: 0 auto;
        right: -370px;
        top: 650px;
    }

}


@media (min-width:1200px) {

    #pearl-1 {
        top: -360px;
        right: -90px;
        width: 1050px;
        height: 1050px;
    }

    #pearl-2 {
        width: 390px;
        height: 390px;
        top: 440px;
        left: -105px;
    }

    div#pearl-3 {
        height: 300px;
        width: 300px;
        display: block;
        position: inherit;
        background-image: url(../../imgs/pearls/13.webp);
        margin: 0 auto;
        right: -500px;
        top: 680px;
    }

}

@media(min-width:1680px) {

    #pearl-1 {
        top: -400px;
        right: 40px;
        width: 1050px;
        height: 1050px;
    }

    #pearl-2 {
        width: 450px;
        height: 450px;
        top: 340px;
        left: -100px;
    }

    div#pearl-3 {
        height: 350px;
        width: 350px;
        display: block;
        position: inherit;
        background-image: url(../../imgs/pearls/13.webp);
        margin: 0 auto;
        right: -580px;
        top: 700px;
    }
}

.build .card img {
    height: auto;
    width: 100px;
    margin: 0 auto 24px;
}

/*///////////// _HOME.scss end /////////////*/
/* -------------------------------------------------*/