.video-container video {
    max-width: 100%;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 0px hsl(259deg 100% 31.17% / 42%), 0px 62px 16px -45px rgba(0, 0, 0, 0.40);
}

.section-cover-ondemand p {
    max-width: 400px;
}

.section-pricing .card {
    flex-direction: column;
    padding-bottom: 60px;
}

.section-pricing .card h3 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.section-pricing .card h4 {
    margin-bottom: 1rem;
}

.section-ondemand-roles .card h3 {
    display: flex;
    align-items: center;
    height: 54px;
}

.section-what-you-get-od img {
    margin-bottom: 3rem;
    width: 100%;
    max-width: 350px;
    margin-inline: auto;
}

.section-what-you-get-od {
    text-align: center;
}

.section-what-you-get-od ul {
    text-align: left;
}

.section-what-you-get-od h2 {
    margin-left: 0;
}

.section-ondemand-roles .mobile-row {
    align-items: center;
}

@media (max-width: 899px) {
    .section-ondemand-roles .card .row:has(ul) {
        gap: 0;
    }
}

@media (min-width: 900px) {
    .section-ondemand-roles .card h3 {
        height: 70px;
    }
    .section-what-you-get-od {
        text-align: left;
    }
    .section-what-you-get-od h2 {
        margin-left: 20px;
    }
    .section-what-you-get-od img {
        max-width: 100%;
        margin-inline: unset;
        margin-bottom: 0;
    }
}