/*------------------------------------------------------ */
/*///////////// _SUBSCRIPTIONS.scss start /////////////*/

.slack-mockup img {
    width: 100%;
    max-width: 500px;
    object-fit: contain;
    display: none;
}

.slack-mockup img:first-child {
    display: block;
}

.section-task-examples .card .row {
    align-items: baseline;
}

.section-task-examples .mobile-row {
    align-items: baseline;
}

.section-task-examples .card .pro::after {
    content: 'PRO';
    background: #7437f850;
    border-radius: 4px;
    min-width: 39px;
    height: 17px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    align-content: center;
    margin-top:12px;
    position: absolute;
    right: 16px;
    top: 4px;
}

/*///////////// _SUBSCRIPTIONS.scss end /////////////*/
/*------------------------------------------------------ */
