/*------------------------------------------------------ */
/*///////////// _SUBSCRIPTIONS.scss start /////////////*/

.slack-mockup img {
    width: 100%;
    max-width: 500px;
    object-fit: contain;
    display: none;
}

.slack-mockup img:first-child {
    display: block;
}

.section-task-examples .card .row {
    align-items: baseline;
}

.section-task-examples .card .pro::after {
    content: 'PRO';
    background: #7437f850;
    border-radius: 4px;
    min-width: 39px;
    height: 17px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    align-content: center;
    margin-top:12px;
}

.stack-carrousel .slick-dots {
    bottom: -45px
}

.stack-carrousel .slick-dots li::before {
    content: unset
}

[data-acc=rocket]::before {
    content: url("/imgs/icons/rocket-launch.svg")
}

.stack-carrousel .slick-dots li.slick-active button::before {
    color: #722fff;
    content: url("/imgs/bullet-active.svg")
}

.stack-carrousel .slick-dots li button::before {
    color: #722fff;
    content: url("/imgs/bullet-inactive.svg");
    opacity: 1
}

.stack-u {
    display: flex;
    align-items: center;
    gap: 10px;
    width: -moz-fit-content;
    width: fit-content
}

.stack-u img {
    width: 35px;
    max-height: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.stack-u span {
    min-width: -moz-fit-content;
    min-width: fit-content;
    color: inherit
}

.stack-u.pro::after {
    content: "PRO";
    background: rgba(116,55,248,.3137254902);
    border-radius: 4px;
    min-width: 39px;
    height: 17px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    align-content: center
}

@media(max-width: 900px) {
    .stack-carrousel {
        width:100%
    }

    .stack-carrousel *.fade-in {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0)
    }

    .slide-inside {
        display: flex;
        margin-inline:auto;flex-direction: column;
        width: -moz-fit-content;
        width: fit-content
    }

    .stack-u {
        text-align: center
    }

    .stack-u img {
        margin-inline:auto}

    .carrousel-col {
        width: 100%;
        display: flex
    }

    .carrousel-col .stack-u {
        margin-bottom: 20px
    }
}

@media(min-width: 900px) {
    .carrousel-col,.slide-inside {
        display:contents
    }

    .stack-carrousel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(9, auto);
        grid-auto-flow: column;
        gap: 18px
    }
}

/*///////////// _SUBSCRIPTIONS.scss end /////////////*/
/*------------------------------------------------------ */
