/*------------------------------------------------------ */
/*///////////// _FAQ.scss start /////////////*/

.accordions-container {
    padding-top: 2rem;
}

.accordion {
    border-bottom: 1px solid #7437f850;
    margin-bottom: 0;
}

.acc-button {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    transition: .4s;
    margin-top: 0;
    color: #ffffff4d;
    padding-inline: 16px 24px;
    padding-block: 16px;

    &:after {
        content: '\002B';
        float: right;
        margin-left: auto;
        font-size: 2rem;
        color: var(--accent-color);
        transition: transform 0.3s ease;
    }

    &.active:after {
        transform: rotate(45deg);
    }
}

.faqs h3.heading-4 {
    margin-bottom: 0;
    display: flex;
    gap: 5px;
}

.accordion h3 span {
    font-weight: 500;
    font-variation-settings: "wght" 500;
}

.faqs .accordion h3 span {
    color: var(--accent-color);
}

.acc-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding-inline: 16px;
}

.acc-panel p {
    margin-bottom: 40px;
}

@media (min-width: 1024px) {
    .acc-panel {    
      padding-inline: 16px 24px;
    }
}

@media (min-width: 1024px) {
    .faqs .acc-panel {    
      padding-inline: 24px;
    }
}

.acc-button:not(.active):hover {
    background: var(--accent-color-30pct);
}

/*///////////// _SUBSCRIPTIONS.scss end /////////////*/
/*------------------------------------------------------ */