.cover-pearl-background {
    z-index: -1;
    position: absolute;
    top: -500px;
    width: 100%;
    left: 0;
    overflow: hidden;
    height: 800px;
}


.cover-pearl-background .pearl {
    display: block;
    background-image: url(../../imgs/pearls/09.webp);
    height: 800px;
    width: 800px;
    left: calc(50% - 400px);
    top: 0px;
}

.body-case-studies .cover-pearl-background {
    top: -200px;
}

.body-discovery-call .cover-pearl-background {
    top: -400px;
}