/*------------------------------------------------------ */
/*///////////// _TESTIMONIALS.scss start /////////////*/

.testimonials-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-inline: auto;
}

.body-staff-augmentation .testimonials-container-branding {
    display: none;
}

.testimonials-container figure {
    margin-inline: 0;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.testimonial blockquote {
    margin-inline: 0;
}

.testimonial figcaption {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card.testimonial p {
    margin-bottom: 16px;
    font-style: italic;
}


/* Home > Testimonial-section MediaQuery */
@media (min-width: 768px) {
    .testimonials-container {
        max-width: unset;
        flex-direction: row;
        align-items: flex-start;
    }

    .testimonial {
        height: 250px;
    }

    .testimonial blockquote {
        height: -webkit-fill-available;
    }
}


/*///////////// _TESTIMONIALS.scss end /////////////*/
/*------------------------------------------------------ */