/*------------------------------------------------------ */
/*///////////// _TESTIMONIALS.scss start /////////////*/

.testimonials-wrapper  .row {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-inline: auto;
}

 body:not(.body-branding) .testimonials-wrapper-branding, body:not(.body-staff-augmentation) .testimonials-wrapper-staff-augmentation {
    display: none;
}

.body-branding .testimonials-wrapper-general, .body-staff-augmentation .testimonials-wrapper-general {
    display: none;
}


.testimonials-wrapper figure {
    margin-inline: 0;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.testimonial blockquote {
    margin-inline: 0;
}

.testimonial figcaption {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card.testimonial p {
    margin-bottom: 16px;
    font-style: italic;
}


/* Home > Testimonial-section MediaQuery */
@media (min-width: 768px) {
    .testimonials-wrapper .row {
        max-width: unset;
        flex-direction: row;
        align-items: flex-start;
    }

    .testimonial {
        height: 220px;
    }

    .testimonial blockquote {
        height: -webkit-fill-available;
    }
}


/*///////////// _TESTIMONIALS.scss end /////////////*/
/*------------------------------------------------------ */