/* ------------------------------------------------------ */
/*///////////// _BUTTONS.scss start /////////////*/

button, .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 240px;
    max-width: 100%;
    padding: 1rem 1.4rem;
    border: none;
    border-radius: 900px;
    background-color: var(--accent-color-90pct);
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.5px;
    text-decoration: none;
    cursor: pointer;
    transition: 0s;
}

button:hover, a.button:hover, input.button:hover {
    text-decoration: none;
    transition: 0s;
    background-color: var(--accent-color);
    box-shadow: 0 0 4px 1px #D837F8, 0 8px 4px -4px rgba(0, 0, 0, 0.4);
}

.cta-button {
    background-image: var(--accent-color-gradient);
    opacity: 0.9;
}

.cta-button:hover {
    opacity: 1;
}

.secondary-button {
    background: var(--accent-color-900);
    border: 2px solid var(--accent-color); 
}

.large-button  {
    height: 60px;
    padding: 1.25rem 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 260px;
}


.small-button  {
    height: 36px;
    width: 180px;
}

.photo-button::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    margin-right: 10px;
    border: 1px solid black;
    background-image: url(../../imgs/photo-icon.png);
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center center;
}

.small-button.photo-button::before {
    width: 26px;
    height: 26px;
}

.large-button.photo-button::before {
    width: 40px;
    height: 40px;
}

.toggle-container {
    position: relative;
    width: 333px;
    height: 50px;
    margin-inline: auto;
    margin-bottom: 24px;
}


.toggle-container button {
    position: absolute;
    inset-block: 0 auto;
    margin: 0;
    z-index: 10;
    font-weight: 400;
    opacity: 1;
}

.toggle-container button:nth-child(1) {
    left: 0px;
}

.toggle-container button:nth-child(2) {
    right: 0px;
}

.active-button.active-button {
    height: 45px;
    background-color: #722FFF;
    border: 6px solid #722FFF;
    z-index: 11;
    margin-top: -4px;
    cursor: default;
    font-weight: 800;
    box-shadow: 0px 0px 0px 3px #000;
    opacity: 1;
}

.toggle-container button:nth-child(2)::before {
    content: attr(data-content);
    position: absolute;
    top: -26px;
    font-weight: 400;
}

[data-button-arrow]::after {
    height: 10px;
    width: 18px;
    margin-left: 6px;
}

.small-button[data-button-arrow]::after {
    height: 8px;
    width: 13px;
    margin-left: 4px;
}

[data-button-arrow]:hover::after {
    animation: moveArrow 1s ease-out infinite;
    opacity: 1;
}

@keyframes moveArrow {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    70% {
        transform: translateX(10px);
        opacity: 1;
    }

    100% {
        transform: translateX(10px);
    }
}

[data-button-arrow-up]::before,
[data-button-arrow-up]::after, [data-button-arrow-down]::before,
[data-button-arrow-down]::after {
    content: url(../../imgs/icons/arrow-up-fill.svg);
    display: inline-block;
    opacity: .8;
    animation: moveArrow-up 1s ease-out infinite;
    height: 16px;
    width: 9px;
}

[data-button-arrow-down]::before,
[data-button-arrow-down]::after {
    content: url(../../imgs/icons/arrow-down-fill.svg);
    animation: moveArrow-down 1s ease-out infinite;
}

[data-button-arrow-up]::before, [data-button-arrow-down]::before {
    margin-right: 10px;
}

[data-button-arrow-up]::after, [data-button-arrow-down]::after {
    margin-left: 10px;
}

[data-button-arrow-up]:hover::before,
[data-button-arrow-up]:hover::after, [data-button-arrow-down]:hover::before,
[data-button-arrow-down]:hover::after {
    opacity: 1;
}


@keyframes moveArrow-up {
    0% {
        transform: translatey(0px);
        opacity: 0;
    }

    70% {
        transform: translatey(-5px);
        opacity: 1;
    }

    100% {
        transform: translatey(-5px);
    }
}

@keyframes moveArrow-down {
    0% {
        transform: translatey(-5px);
        opacity: 0;
    }

    70% {
        transform: translatey(0px);
        opacity: 1;
    }

    100% {
        transform: translatey(0px);
    }
}

/*///////////// _BUTTONS.scss end /////////////*/
/* ------------------------------------------------------ */