/* ------------------------------------------------------ */
/*///////////// _BUTTONS.scss start /////////////*/

button, .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 240px;
    max-width: 100%;
    padding: 1rem 1.4rem;
    border: none;
    border-radius: 900px;
    background-color: var(--accent-color-90pct);
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.5px;
    text-decoration: none;
    cursor: pointer;
    transition: 0s;
}

button:hover, a.button:hover, input.button:hover {
    text-decoration: none;
    transition: 0s;
    background-color: var(--accent-color);
    box-shadow: 0 0 8px 0px var(--accent-color), 0 8px 4px -4px rgba(0, 0, 0, 0.4);
}

.photo-button::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    margin-right: 10px;
    border: 1px solid black;
    background-image: url(../../imgs/photo-icon.png);
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center center;
}


.toggle-container {
    position: relative;
    width: 333px;
    height: 50px;
    margin-inline: auto;
    margin-bottom: 24px;
}


.toggle-container button {
    position: absolute;
    inset-block: 0 auto;
    margin: 0;
    z-index: 10;
    font-weight: 400;
    opacity: 1;
    background: none;
}

.toggle-container button:nth-child(1) {
    left: 0px;
}

.toggle-container button:nth-child(2) {
    right: 0px;
}

.active-button.active-button {
    height: 45px;
    background-color: #722FFF;
    /* padding-block: 10px; */
    border: 6px solid #722FFF;
    z-index: 11;
    margin-top: -4px;
    cursor: default;
    font-weight: 800;
    box-shadow: 0px 0px 0px 3px #000;
    opacity: 1;
}

.toggle-container button:nth-child(2)::before {
    content: attr(data-content);
    position: absolute;
    top: -26px;
    font-weight: 400;
}

/*///////////// _BUTTONS.scss end /////////////*/
/* ------------------------------------------------------ */