/* ------------------------------------------------------ */
/*///////////// _ICONS.scss start /////////////*/

.icon-container {
    width: 70px;
    height: 70px;
    background-image: var(--accent-color-gradient);
    border-radius: 6px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-shadow: 0 0 6px 0px #D837F8, 0 8px 4px -4px rgba(0, 0, 0, 0.4);
}

.icon-container-small {
    width: 40px;
    height: 40px;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 0;
    margin-inline: 0;
}

.icon-container img {
    width: 40px;
    height: 40px;
}

.icon-container-small img {
    width: 22px;
    height: 22px;
}

@media screen and (min-width: 900px) {
    .icon-container {
        margin-left: unset;
        margin-right: unset;
    }
}

/*///////////// _ICONS.scss end /////////////*/
/* -------------------------------------------------*/