/* ------------------------------------------------------ */
/*///////////// _LINKS.scss start /////////////*/

a:hover {
    color: var(--display-text-color);
    cursor: pointer;
}

nav a.current-page {
    color: var(--accent-color);
}

p a, .link {
    text-decoration: underline var(--accent-color) dotted 2px;
    -webkit-text-decoration: underline var(--accent-color) dotted 2px;
    text-underline-offset: 5px;
}

p a:hover, .link:hover {
    text-decoration: underline var(--accent-color) solid 2px;
    -webkit-text-decoration: underline var(--accent-color) solid 2px;
}

/*///////////// _LINKS.scss end /////////////*/
/* ------------------------------------------------------ */