/* ------------------------------------------------------ */
/*///////////// _LINKS.scss start /////////////*/

a:hover {
    color: var(--display-text-color);
    cursor: pointer;
}

nav a.current-page {
    color: var(--white-40pct);
}

p a, .link {
    text-decoration-line: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-color: var(--accent-color);
    -webkit-text-decoration-style: dotted;
    -webkit-text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

p a:hover, .link:hover {
    text-decoration-line: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-color: var(--accent-color);
    -webkit-text-decoration-style: solid;
    -webkit-text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

/*///////////// _LINKS.scss end /////////////*/
/* ------------------------------------------------------ */