.pearl {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    -webkit-transition: all 1s;
    transition: all 1s;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.rotate {
    -webkit-animation: rotating 90s linear infinite !important;
    -moz-animation: rotating 90s linear infinite !important;
    -ms-animation: rotating 90s linear infinite !important;
    -o-animation: rotating 90s linear infinite !important;
    animation: rotating 90s linear infinite !important
}

.rotate-slower {
    -webkit-animation: rotating 200s linear infinite !important;
    -moz-animation: rotating 200s linear infinite !important;
    -ms-animation: rotating 200s linear infinite !important;
    -o-animation: rotating 200s linear infinite !important;
    animation: rotating 200s linear infinite !important
}