/* ------------------------------------------------------ */
/*///////////// _CARDS.scss start /////////////*/

.card {
    background: var(--card-background-color);
    background-image: var(--card-background-image);
    border: 1px solid var(--card-border-color);
    border-radius: 12px;
    padding-inline: 16px;
    padding-block: 16px 24px;
    display: flex;
    justify-content: center;
}

.card.card-small {
    padding-inline: 16px;
    padding-block: 16px 20px;
}

.card-small ul {
    margin-bottom: 0;
}

.card p {
    margin-bottom: 0;
}

.card li {
    font-family: var(--serif-font-family), var(--serif-fallback-fonts);
}

.featured-card-wrapper {
    border-radius: 12px;
    padding: 2px;
    background-image: linear-gradient(45deg, #722FFF, #4B00AE, #D12B94, #722FFF, #4B00AE);
}

@media (min-width: 900px) {
    .card {
        padding-inline: 24px;
        padding-block: 24px 32px;
    }
}

/*///////////// _CARDS.scss end /////////////*/
/* -------------------------------------------------*/