/* ------------------------------------------------------ */
/*///////////// _CARDS.scss start /////////////*/

.card {
    background: var(--card-background-color);
    background-image: var(--card-background-image);
    border: 1.5px solid var(--card-border-color);
    border-radius: 12px;
    padding-inline: 16px;
    padding-block: 16px 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card.card-small {
    padding-inline: 16px;
    padding-block: 16px 20px;
}

.card-small ul {
    margin-bottom: 0;
}

.card p {
    margin-bottom: 0;
}

.card li {
    font-family: var(--serif-font-family), var(--serif-fallback-fonts);
}

.featured-card-wrapper {
    border-radius: 12px;
    padding: 2px;
    background-image: linear-gradient(45deg, #722FFF, #4B00AE, #D12B94, #722FFF, #4B00AE);
}

@media (min-width: 900px) {
    .card {
        padding-inline: 24px;
        padding-block: 24px 32px;
    }
}


.leadership-card {
    padding-top: 290px;
    padding-bottom: 24px;
    background-size: contain;
    background-position: center 16px;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    height: 420px;
    justify-content: flex-start;
    background-color: black;
}

.leadership-card-rodrigo {
    background-image: url(../../imgs/rodrigo-gatica.png);
}

.leadership-card-matias {
    background-image: url(../../imgs/matias-gea.png);
}

.leadership-card-boris {
    background-image: url(../../imgs/boris-hrncic.png);
}

.leadership-card ul {
    display: none;
}

.leadership-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 200px, rgba(0,0,0,1) 300px);
    pointer-events: none;
}

.leadership-card * {
    z-index: 2;
}

.leadership-card:hover {
    padding-top: 24px;
    border-color: var(--accent-color-50pct);
}

.leadership-card:hover ul {
    display: block;
}

.leadership-card:hover::after {
    background: black;
}

.leadership-card .linkedin-icon {
    position: absolute;
    top: 22px;
    right: 24px;
    background-color: var(--accent-color-50pct);
    border-radius: 4px;
    padding: 8px;
}

.leadership-card .linkedin-icon:hover {
    background-color: var(--accent-color);
}

/*///////////// _CARDS.scss end /////////////*/
/* -------------------------------------------------*/